[2020-10-23 11:21] DavidPL1 opened #3 "fix_permissions bug on sshfs mounted volume"
First of all, I've been using the locally hosted wandb version for a few weeks now and I gotta say it's pretty awesome, good job!

I guess this is kind of a very special case, but I am using sshfs to mount a shared directory which is then used as docker volume.
I do not have root privileges on the network share, but with uid and gid mapping I can circumvent any permission problems. However, changi

[2020-10-23 19:08] vanpelt commented on #3
Thanks @DavidPL1, that's some great sleuthing.  I'm worried that even if we do the chmod the instance won't function properly.  We start our container assuming we'll be assigned a random uid for the user but this user will be in the root group so as long as the root group has write access to the files we're good.  In your case if we can't control the group of the filesystem you'll likely need to r

[2020-10-23 19:09] vanpelt commented on #3
I'll also note that for production use cases we eliminate the need for any persistent storage within the container.  We would connect an external MySQL server and S3 or equivalent object store for all persistence.

[2020-10-26 12:21] DavidPL1 commented on #3
Thanks for the swift answer @vanpelt.
Actually the container runs just fine when remapping both the uid and gid of the files inside the volume to 0 and ensuring the group permissions are set correctly (at least for now). The host of the share doesn't care if the container thinks it has root privileges.

Currently a production scale setup is somewhat too much overhead for my use case, as I am the o

[2020-10-26 16:48] vanpelt commented on #3
Good to hear @DavidPL1!  I just took a look at the code, when the container is started without specifying a uid we run fix_permissions.sh on everything that was mounted.  If you specify a uid >= 100000 we don't run fix_permissions.sh on the entire volume.  Can you try the following when starting the container (the key specifying a uid of 100000):

[code]

Moving forward, this is the best place to

[2020-10-26 22:26] DavidPL1 commented on #3
Thank you very much, using the `-u` option works for me.

Alright, if I encounter other problems, I'll open another issue here.

[2020-10-26 22:26] #3 closed

[2021-01-11 04:17] windxrz opened #7 "Loading is taking longer than expected."
### Describe the bug
When I run `wandb local`, the terminal requires an API key as follows.
![Screen Shot 2021-01-11 at 12 14 28](https://user-images.githubusercontent.com/18761561/104146739-b188c680-5406-11eb-8938-894d42fe7983.png)
But when I open the link in the browser, it shows that "Loading is taking longer than expected."
![Screen Shot 2021-01-11 at 12 16 16](https://user-images.githubuserco

[2021-01-15 02:35] Bovey0809 commented on #7
I'm facing the same issue , it takes a long time and never log in .

[2021-01-15 15:17] vanpelt commented on #7
@windxrz this indicates mysql couldn't start likely due to file permissions or docker file driver issues.  Can you try starting it with `wandb local --upgrade` and share the input.  Also the output of `docker volume inspect wandb` would be helpful.

@Bovey0809 can you share the output of `wandb local --no-daemon`?

[2021-01-15 15:33] windxrz commented on #7
@vanpelt Thanks for the response. I upgrade Wandb to the latest version by `wandb local --upgrade` but the results are the same.
[code]
In addition, the output of `docker volume inspect wandb` is as follows
[code]

[2021-01-15 17:53] vanpelt commented on #7
Great thanks, let's look at the mysql logs.  Can you run the following after you've started a local container? `docker exec -it wandb-local cat /var/log/mysql.log`

[2021-01-16 03:22] windxrz commented on #7
[code]

[2021-01-19 17:35] vanpelt commented on #7
Hey windxrz the errors indicates the container can't write to the filesystem that you're mounting in.  This looks like a permissions issue, you may need to run the command as `sudo` or change the file permissions of the mount.  You can run `docker volume inspect wandb` to see where the underlying volume is on your OS.

[2021-01-19 17:37] vanpelt commented on #7
The nuclear option is to start from scratch by removing the old volume so a new one is created.  This will loss all data mounted into that volume so use with caution: `wandb volume rm wandb`

[2021-02-02 10:00] imyhxy opened #8 "Can't restart a stopped contiainer"
When restart a stopped `wandb/local` container, the container exited instantly.

[2021-02-02 21:44] vanpelt commented on #8
Hey @imyhxy to restart the container you should run:

`docker stop wandb-local`, then run `wandb local` or manually start the container again with docker.

[2021-02-02 21:44] #8 closed

[2021-02-05 08:17] imyhxy commented on #8
@vanpelt When restart the container with `docker start wandb-local`, the container existed instantly.

[2021-02-05 17:55] vanpelt commented on #8
@imyhxy calling `docker start wandb-local` will not work if you don't have a container named wandb-local.  Calling `docker restart wandb-local` does not work either.  If you need to start a wandb local container, you should run `wandb local`.

[2021-02-23 06:32] windxrz commented on #7
After I update wandb local to the latest version, the issue still exists. The latest output of `wandb local --no-daemon` is
[code]
The output of `docker exec -it wandb-local cat /var/log/mysql.log` is
[code]

**Operating system**:
- Ubuntu 18.04
- Python 3.7.9
- Wandb 0.10.20
- Wandb local digest 041913476f4710f6f3727f15c4c413bebafbf7cc724ba451046f9eeb125b421e

[2021-02-23 17:50] vanpelt commented on #7
Hey @windxrz this indicates that your database failed to migrate likely due to a mis-configured docker volume or killing a previously running wandb/local container.  You can get past this error by deleting the bad volume assuming you don't have any data saved to it with:

[code]

[2021-02-24 03:18] windxrz commented on #7
@vanpelt Thanks! The issue is fixed for me.

[2021-02-24 17:48] #7 closed

[2021-03-15 09:00] erow opened #9 "The local files remained on my disk even when the project was deleted."
I deleted a project, but I found the local files were still there.

[2021-03-15 18:06] ethanabrooks opened #10 "wandb/local fails with docker-compose.yml"
The following command works fine for me:
[code]
However the following `docker-compose.yml` fails:
[code]
[code]
I am a little new to docker-compose, but I thought that the two commands were effectively the same.

[2021-03-15 18:21] ethanabrooks commented on #10
I'll add one very strange thing that I am observing. If I add a `command` field to the wandb service:
[code]
we see that the supposedly missing files and directories are present:

[2021-03-15 18:24] vanpelt commented on #10
It seems like docker compose is mounting something into the container that's blowing away the local file system.  Can you run `docker inspect jax-agents_wandb_1` and see what "Mounts" are present?

[2021-03-15 18:25] ethanabrooks commented on #10
[code]

[2021-03-15 18:27] vanpelt commented on #10
Hmm, when I ran `docker compose` locally it didn't give the volume a nice name, also since we're not mounting in `/home/wandb` that seems unlikely the cause.  I would try two things.

1. Run `docker pull wandb/local:0.9.38` and update your compose to use that explicit version.  It seems like you may have a corrupt version of the image locally somehow.
2. If that doesn't work, try `docker volume rm

[2021-03-15 18:30] ethanabrooks commented on #10
So after doing that, the first run succeeded and the second run failed (same error). This is what I found with docker inspect:

        "Mounts": [
            {
                "Type": "volume",
                "Name": "12c185b41f5a47f4a9d3a5f3508725aa55db6f50b7ec0c8693ab734df3cf2e15",
                "Source": "/var/lib/docker/volumes/12c185b41f5a47f4a9d3a5f3508725aa55db6f50b7ec0c8693ab734df3cf2

[2021-03-15 18:36] ethanabrooks commented on #10
Ok I think this might have just been a function of my ignorance about docker-compose...
It looks like if I invoke `docker-compose down` between runs, things work fine.

[2021-03-15 19:01] vanpelt commented on #10
Ahh, yeah that makes sense.  The state of the filesystem will be screwy without the `down` command.

[2021-03-15 19:02] #10 closed

[2021-03-15 21:08] ethanabrooks opened #11 "Error running `wandb init` with `docker-compose`"
Thanks for your help with my previous issue. This issue is not too far from the previous so hopefully it is just as painless :)

So here is my `docker-compose.yml`:
[code]

Here is the Dockerfile for `wandb-issue`:
[code]

This is the tail of the error:
[code]
The full error is in this gist: https://gist.github.com/ethanabrooks/c5f7c4c0577e99c8ea8266aee83a2955

[2021-03-15 21:26] vanpelt commented on #11
Hey @ethanabrooks `wandb init` is meant for initializing a directory and requires a terminal that has user input.  What you likely want to be doing is calling `wandb.init(project="test-project")` inside of a python script.

[2021-03-15 21:27] vanpelt commented on #11
Also, can you share a little more information about why you're using docker-compose and running a local server instead of using our cloud service?  Generally users deploy the local service into their own AWS, Azure, or GCP and configure a database with backups and scalable storage.

[2021-03-15 21:30] ethanabrooks commented on #11
Sure. I started running into a lot of rate-limit errors on the cloud service. Apparently since January, you can only run 15 runs concurrently on the site. I expect that running locally would give me more flexibility and control

[2021-03-15 21:32] ethanabrooks commented on #11
I get a very similar error doing that:
[code]
(full error here: https://gist.github.com/ethanabrooks/459f06bc4eb6905b860e7131beac7507)

[2021-03-15 22:39] vanpelt commented on #11
What do you see when you goto `http://localhost:8080`?  The 502 error, means the wandb service isn't configured properly o failed to boot for some reason.

You likely don't want to be doing this for a number of reasons:

1. You risk catastrophic data loss as the database and data stores will not be backed up.
2. You can't share your results with anyone unless you run a server that all users can ac

[2021-03-15 23:03] ethanabrooks commented on #11
I see. I think there are ways that we have to deal with some of those issues. Our servers are accessible to outside machines and we can always pull updates from dockerhub. But it sounds like I am not really using the `wandb/local` tool the way it was intended.

To answer your question, if I replace `http://wandb:8080` with `http://localhost:8080`, I get:
[code]

[2021-03-16 03:14] vanpelt commented on #11
Sorry, I meant going to http://localhost:8080 in your web browser and seeing if there are any errors displayed on our application page.

[2021-03-17 16:35] narayanacharya6 opened #12 "invalid htpasswords file - user local@wandb.com was already defined"
Hi, I am just trying out the local instance for getting started. I followed the steps as mentioned on the readme to start a local instance.

Steps:
[code]

I get the below stack trace when I try to access `http://localhost:8080/authorize` in the browser.

[code]

Any pointers as to what I might be doing wrong here?

[2021-03-17 20:25] vanpelt commented on #12
@narayanacharya6 haven't seen this one before.  You can likely fix it by shelling into the container and moving the existing htpasswd file:

[code]

[2021-03-17 23:05] narayanacharya6 commented on #12
That worked! Thanks @vanpelt

[2021-03-17 23:05] #12 closed

[2021-03-21 13:43] ethanabrooks commented on #11
Hi Chris. Sorry for the delay in responding. I have been using the main site and it has been working well for me.

I don't know if this is relevant, but I am running on a server, not on a local machine. I don't access the site with `localhost` but with a URL that our server makes public.

So, in answer to your question this is what I see:
If I delete the `wandb` volume, run `docker-compose up` and

[2021-03-22 22:41] vanpelt commented on #11
Hey @ethanabrooks, you'll likely need to stop the docker-compose stack entirely and then run up.  I.E. `docker-compose stop` instead of just `docker-compose down`.  The other error you're seeing is being caused because you're trying to connect to `http://wandb:8080` and wherever you're running that `wandb` can't be resolved.  That address will only work within the docker virtual network.  You'll n

[2021-03-23 07:43] lacek opened #13 "Unable to start server"
Local server cannot be launch, neither with python command nor Docker.

With wandb python command:

[code]

Browsing http://localhost:18080/authorize shows connection refused.
Executing `docker ps` show no container named `wandb-local`.

With Docker, container exit immediately with exit status 1:

[code]

[2021-03-23 16:32] vanpelt commented on #13
This is because the file system inside of your docker container is read only.  You either need to run the container as root, or configure your docker daemon to mount read / write filesystems.  How did you install Docker?

[2021-03-24 06:18] lacek commented on #13
I tried on several Linux servers  and the same error was reproduced:

- Docker 18.06.1 on Ubuntu 14.04
- Docker 18.09.7 on Ubuntu 16.04
- Docker 19.03.8 on Ubuntu 16.04

The Docker were install by someone else. Based on the apt configuration, I guess they were installed using instructions provided on the Docker web site.

On the other hand, there isn't such error when the same command is run on Do

[2021-03-25 08:19] syw2014 opened #14 "Upload to local server error!"
After training , when upload file to local server:
wandb version: 0.10.23

------------------
Failed to upload file: /tmp/tmpjtpi0i31wandb/ne7jqwp7-train/events.out.tfevents.1616653556.algo
Traceback (most recent call last):
  File "/root/anaconda3/lib/python3.6/site-packages/wandb/apis/normalize.py", line 24, in wrapper
    return func(*args, **kwargs)
  File "/root/anaconda3/lib/python3.6/site-p

[2021-03-25 18:54] vanpelt commented on #14
This means you're disk has run out of space.  The trial version of wandb is just meant for testing purposes.  In production you'll want to license the instance and connect it to a cloud storage bucket so that you'll never run out of space.

[2021-03-26 00:04] syw2014 commented on #14
Yes I know, But I confused there are still 500G left in my disk, and I found the event files(events.out.tfevents.1616653514.algo) created by tensorflow only 2.4G, why it report this error?

[2021-03-26 00:15] vanpelt commented on #14
It's the docker volume that's full, not your local disk.  We mount a volume into the docker container named wandb.  If you run `docker volume inspect wandb` you'll see where the volume is physically located.  Depending on your operating system this may be within a VM that has disk space limitations.

[2021-03-26 01:31] syw2014 commented on #14
OK， thank you for your reply！

[2021-03-26 01:31] #14 closed

[2021-03-27 09:41] carloalbertobarbano opened #15 "Disabled users disappearing"
Using the wandb/local version 0.9.38.

As per title, once a user is disabled I cannot find any trace of it even if the "show disabled users" box is ticked in the /admin/users dashboard.

How can I re-enable them, or at least delete them so I can recreate new users with the same email address?

[2021-03-29 16:25] davidwallacejackson commented on #15
@carloalbertobarbano  This is a known regression in 0.9.38. We just released 0.9.39 on Friday, which should fix it -- if it doesn't, please let us know and we'll reopen this.

[2021-03-29 16:25] #15 closed

[2021-03-29 16:51] carloalbertobarbano commented on #15
Thanks, I do see them. However all the options are grayed out and I can't re-enable or delete them

![image](https://user-images.githubusercontent.com/13789437/112871580-ac5f1d80-90bf-11eb-9d17-79bcd7582219.png)

[2021-03-29 18:49] vanpelt commented on #15
Hey @carloalbertobarbano the most recent release of wandb/local only allows one enabled user for an unlicensed copy of the software.  If you email me at `vanpelt@wandb.com` I can get you trial license or discuss a commercial license.

[2021-03-30 13:40] carloalbertobarbano commented on #15
Got it. I applied for a free 3-user license as suggested in the users dashboard, thanks

[2021-05-19 13:20] ariG23498 opened #16 "index page does not load"
Description
--
`wandb local` creates the container but the index page `localhost:8080` does not load. I have tried `wandb local --upgrade` and `wandb local -e LOCAL_RESTORE=true`, but both the commands does not help.

Follow
--
- `wandb local`
- `docker logs -f wandb-local`
[code]
Versions
--
OS: Ubuntu 20.04.2 LTS
wandb: wandb, version 0.10.30
docker: Docker version 20.10.6, build 370c289

[2021-05-29 13:52] edebrouwer opened #17 "Loading is taking longer than expected"
Hi, while trying to launch the wandb server, localhost:8080 stays stuck on the following message :

Loading your local environment...
Loading is taking longer than expected. Check stdout, or the system logs at /var/log for error messages. You can restart your server with the environment variable LOCAL_RESTORE=true to regain access if you're unable to login

**Output from wandb local --no-daemon :*

[2021-05-29 19:33] vanpelt commented on #17
@edebrouwer this means the database was unable to migrate.  Version 5 is very low, we need to migrate 80 versions on boot.  This is usually caused by killing the docker instance while it's migrating (if you ctrl-c the --no-daemon mode that would kill the migration).  It could also be an issue with your docker IO configuration.  I would try the following:

[code]

Then share the log output here.  I

[2021-05-29 23:29] edebrouwer commented on #17
Hi thank you for your quick response ! I waited 10 minutes and now it's up :)
Actually i'm running it on a virtual machine and the machine was stopped last night without stopping the docker instance first. Could that be the source of the initial issue ? (sorry if this is a stupid question)
Thanks !

[2021-06-09 02:53] magethemagic opened #19 "Wandb local cannot restart correctly"
Hi, I'm using wandb local in docker. Few days ago I had some problems with other container so I restarted the docker service then I found the wandb-local container cannot restart, here are the docker logs
[code]
I have tried to remove the container and run a new one but all the records in the dashboard were lost so I want to know how to solve it. Thanks a lot!

[2021-06-18 12:59] ParthasarathySubburaj commented on #11
Hi, I am trying to set up `wandb-local` in an AWS EC2 instance, following the documentation [here  ](https://docs.wandb.ai/guides/self-hosted/setup#ec2) I ran the following command to start my container
` docker run --rm -d -v wandb:/vol -p 8080:8080 --name wandb-local wandb/local`
But the server doesn't seem to start, when I connect to port 8080 of the instance I am getting the following message

[2021-06-18 13:02] ParthasarathySubburaj opened #20 "cannot start server in an ec2 instance"
Hi, I am trying to set up `wandb-local` in an AWS EC2 instance, following the documentation [here  ](https://docs.wandb.ai/guides/self-hosted/setup#ec2) I ran the following command to start my container
` docker run --rm -d -v wandb:/vol -p 8080:8080 --name wandb-local wandb/local`
But the server doesn't seem to start, when I connect to port 8080 of the instance I am getting the following message

[2021-06-23 19:42] vwxyzjn opened #22 "aws_eks_cluster_auth is temporary"
Hi @adrnswanberg and @vanpelt,

My [PR](https://github.com/wandb/local/pull/18) introduced the `aws_eks_cluster_auth` to replace the `aws-iam-authenticator`. However, today I just realized this `aws_eks_cluster_auth` is temporary.  See the documentation [here](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/eks_cluster_auth). In particular: `aws_eks_cluster_auth` "ge

[2021-06-26 12:12] zfhxi opened #23 "Deploy on raspberry？"
Hello, I want to deploy this on my raspberry PI 4B, but an error is occurred that "The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested". I wonder if you could provide the arm version or Dockerfile available?

[2021-06-29 01:07] vanpelt commented on #23
Thanks @zfhxi we'll look into it.

[2021-06-30 15:18] LarsHill opened #24 "Use WandB local without Docker Requirement?"
Hi,

Looking eagerly for an alternative to TensorBoard, I discovered WandB to track and visualize training run hyperparameters and metrics.
Since our client data cannot leave our servers, only the local version of WandB is an option.

Unfortunately I am not able to try it out due to the docker requirement for fireing up the UI. At my work place each developer works from within his own docker conta

[2021-06-30 16:14] vanpelt commented on #24
Hey Lars, our service depends on cloud storage and MySQL to function so running it outside of docker is not practical.  The best solution for you would be to run a single wandb server within your network that all docker containers can talk to over the network.  Send an email to contact@wandb.com to discuss the installation process and see if it would be a fit for your team.

[2021-06-30 16:14] #24 closed

[2021-07-01 17:08] wizyoung commented on #19
same problem

[2021-07-01 21:02] vanpelt commented on #19
You should stop the container and start it back up.  Our container uses a complex boot process that doesn't play nicely with docker restarts.  For instance an upgrade with default settings would look like:

[code]

[2021-07-01 21:02] #19 closed

[2021-07-01 21:04] vanpelt commented on #19
@magethemagic the default docker run command mounts a volume with the `-v wandb:/vol` flag.  This ensure all settings and state are persisted when the service is stopped or someone unplugs the computer.  Starting the instance with the same volume will maintain the instance state.

[2021-07-02 02:32] wizyoung commented on #19
that works, thanks very much!

[2021-07-12 20:36] whaleloops opened #25 "Not able to login first time"
### Problem
wandb local creates the container but the index page localhost:8080 does not load.
![image](https://user-images.githubusercontent.com/31370581/125351423-124d7900-e32e-11eb-940a-6b82bdf22d60.png)

### Follow
Already upgrade to the newest version.
docker logs -f wandb-local
![Screenshot from 2021-07-13 12-58-50](https://user-images.githubusercontent.com/31370581/125494992-5dd1878a-59c2-4

[2021-07-12 21:49] vanpelt commented on #25
@whaleloops the fatal error is due to the MySQL server running inside of the container crashing.  You can exec into the container to get the MySQL log with:

[code]

My guess is either issues with the filesystem which you could resolve by changing the file system driver docker is using, or the container can't get enough memory / cpu.  Where are you running the container?

[2021-07-13 03:52] whaleloops commented on #25
Thanks for the timely reply.
I was trying to set this up on a private redhat offline server with 32+ cpus and 500gb+ memory. I do not have sudo access but have only privilege docker access. Could you elaborate on "could resolve by changing the file system driver docker is using"?

After running this below, I got:
docker exec -it wandb-local bash
tail -n 1000 /var/log/mysql.log

![image](https://us

[2021-07-13 17:12] whaleloops commented on #25
I also make sure that mysql in the docker container **could start** from 127.0.0.1

[2021-07-13 17:43] vanpelt commented on #25
There should be more tables than is shown there.  It looks like the initial migration failed, a fully migrated database will have ~69 rows from the table query.  If you do `SELECT * FROM schema_migrations` you'll likely see the "dirty" column has a "1" in it.  The easiest solution is to remove the existing volume and boot the instance again since you don't have any data written to it.

[code]

The

[2021-07-13 17:48] whaleloops commented on #25
I just removed wandb volume and started again. It still have the exact same issue
[code]

[2021-07-16 18:01] whaleloops commented on #25
Where does /var/log/gorilla.log come from? What is the corresponding library? Multiple error existed within this file.

[2021-07-16 18:43] vanpelt commented on #25
That's our internal service written in golang.  It's what speaks to MySQL and provides our graphql API.  The issue is likely due to this line `docker load --input path/to/docker/wandb_local.tar`.  You should ensure the image you're running is a carbon copy of what's on dockerhub without any local filesystem changes.  Why are you loading from a tarball?

[2021-07-16 18:52] whaleloops commented on #25
I used "docker save --output wandb_local.tar wandb/local" on my machine with internet to download and then USB into the server without internet.

[2021-07-16 19:02] vanpelt commented on #25
Just make sure that you aren't saving a running version of wandb/local.  It should only be the fresh state from docker.  Can you share the full contents of `/var/log/mysql.log` for the instance that's failing to start up?

[2021-07-16 19:08] whaleloops commented on #25
This is the full content

![image](https://user-images.githubusercontent.com/31370581/125997008-934558e0-d047-43e4-9162-4c7371740496.png)

with "[Warning] TIMESTAMP with implicit DEFAULT value is deprecated. Please use --explicit_defaults_for_timestamp server option (see documentation for more details)." above

[2021-07-16 19:36] vanpelt commented on #25
That warning is fine.  What do you get when you connect to the database and check the schema with `SELECT * FROM schema_migrations`?  The initial migration is failing and likely marking a specific migration as failed for reasons that are not yet clear.  Knowing which migration failed will help us figure out why MySQL can't be migrated.

[2021-07-19 18:19] whaleloops commented on #25
![image](https://user-images.githubusercontent.com/31370581/126207875-1dc168ce-82ec-45b1-a10b-89f587c394cc.png)

[2021-07-19 18:46] vanpelt commented on #25
Yep, something is causing the migration or MySQL to crash.  We have 118 migrations so it's really strange it crashed so early.  Migration number 2 is actually just:

[code]

You could try running that statement on the db, and then running `UPDATE schema_migrations SET dirty=0`, then restarting the docker container will trigger the migrations to continue running on initial boot.

[2021-07-23 19:58] whaleloops commented on #25
I did what you suggested.
And then the docker logs became
![Screenshot from 2021-07-23 15-44-32](https://user-images.githubusercontent.com/31370581/126834749-23c09955-318a-47d4-9294-dc14bc0ae2fb.png)

select * from schema_migrations;
now has version 3 and dirty 1 on it.

It seems that for some reason, I could only execute this one step/migration at a time.

[2021-07-23 20:02] whaleloops commented on #25
Also when I tried to update mysql manually each time: it told me that the execution already happened. It seems that the code doesn't know to continue.
![Screenshot from 2021-07-23 15-47-27](https://user-images.githubusercontent.com/31370581/126835115-0891628d-717a-4a9f-a569-e62bfc925c20.png)

[2021-07-23 20:10] whaleloops commented on #25
I did it again, now within mysal:

[code]
now has version 5 and dirty 1 on it.

You mentioned that there are 118 migrations? Any ways that I don't have to repeat 100+ times?
Could it be the docker version is too early? My docker version is 1.13.1 from year 2018.

[2021-07-23 20:23] vanpelt commented on #25
Yeah, there's definitely something wrong with either your docker version or the system resources be allocated to the instance.  Can you try launching this on a larger machine using a new version of docker?  You should never need to issue these queries manually.  If the automatic migration fails it indicates there's something wrong with docker / your hardware.

[2021-08-07 04:09] #25 closed

[2021-08-07 04:12] whaleloops commented on #25
Unable to resolve, end up using ray instead. Is there a way to easily visualize ray hyperparam tuning results like wandb? (param importance and etc.)

[2021-08-23 11:57] TUMAAA commented on #16
I wonder why this question is not answered :(

[2021-08-23 12:06] StefanGStark opened #28 "Singularity support"
My compute environment supports singularity but not docker. Is there a way to run wandb after converting docker images to singularity?

[2021-08-23 15:49] vanpelt commented on #16
Apologies for not answering this sooner.  The error indicates we were unable to migrate the database.  If you're working with a fresh wandb/local install without any data in it, you can remove the persistent volume and start it again (warning this will remove all data):

[code]

If you get this error with a database that already has data in it that you want to keep, the process to fix the instance

[2021-08-23 16:26] vanpelt commented on #28
Hey @StefanGStark if you want to run a local wandb server we strongly recommend you run this in kubernetes or a system designed for running web services.  This can be done seperate from the environment that runs compute and only requires a network connection to the web service.  That being said, we have had some customers convert our docker container and run in signularity but it's not officially

[2021-08-23 16:26] #28 closed

[2021-08-24 09:26] cmsax commented on #13
Please update the documentation...

[2021-08-24 16:27] vanpelt commented on #13
@cmsax what command worked for you?  Did you run `sudo docker run` or `docker run -u root`?

[2021-08-25 09:02] cmsax commented on #13
`wandb local` & `docker run` & `sudo docker run` neither, `docker run -u root` worked for me too.

[2021-09-06 23:51] myaisv opened #29 "How can I migrate old data to a new computer?"
I copied the files from /var/lib/docker/volumes/wandb to the new server, but it doesn't work.
The wandb version is the same for both (wandb/local:0.9.41).

The first error that appears is:
`chmod: changing permissions of '/vol/env': Operation not permitted`
After changing the file owner of `/var/lib/docker/volumes/wandb/_data/env`,  this error has been solved. But  a new error appeared:
[code]

Is

[2021-09-07 09:09] bwdeng20 opened #30 "Is it possible to upload self-hosted logs to your cloud-hosted servers."
Thanks for the helpful self-host wandb server image! As there is a chance that good hyperparameters and learned weights come from some preliminary experiments on my laptop,  I would like to upload local dumped logging files to your servers in such cases. Moreover, we can get a consistent experiment logging during the full workflow if it's possible to do so. I haven't found any docs or passages con

[2021-09-07 17:57] vanpelt commented on #29
Are you able to access the interface?  Something is failing to startup, it's likely permissions in `/var/lib/docker/volumes/wandb/_data/minio` and `/var/lib/docker/volumes/wandb/_data/mysql` that are incorrect.

[2021-09-07 20:59] vanpelt commented on #30
You can sync existing local run directories to a self-hosted or SaaS wandb server using the `wandb sync` command: https://docs.wandb.ai/ref/cli/wandb-sync

[2021-09-13 04:07] DanaHan opened #31 "Local OIDC Connect"
In 0.9.43 release:
“Made direct OIDC authentication possible in local servers” is proposed.

I have Dex OICD provider in my k8s.

Any guide to use it to grant in my intranet?

I have tried to set Auth0 domain to my dex server and callback URI to oidc/callback.

But Dex auth endpoint is /auth and wandb is /authorize. When I modify this path manually in broswer, I can finish login in dex page. But c

[2021-09-13 07:58] pbower opened #32 "Not possible to Login when starting container, without entering an email address"
Under https://docs.wandb.ai/guides/self-hosted/local it states:

"**Authentication**
The base install of wandb/local starts with a default user local@wandb.com. The default password is perceptron. The frontend will attempt to login with this user automatically and prompt you to reset your password. Contact us at support@wandb.com to request a free upgrade to your license, from 1 user to 3 users."

[2021-09-13 12:18] adizhol opened #33 "Mounting network storage in docker causes error"
OS: Ububtu 16.04
wandb version 0.12.1

I try to start wandb local server with:
`docker run --rm -d -v /home/MYUSERNAME/net_mount/wandb/:/vol -p 8080:8080 --name wandb-local wandb/local
`
The container starts and the web server starts.
On http://localhost:8080/home, I get the following error:
[code]

net_mount is mounted with my network credentials (samba) - so if docker is running with root, it mi

[2021-09-13 12:43] myaisv commented on #29
Thanks, I solved this problem by this command :)
`chmod 777 -R  /var/lib/docker/volumes/wandb/_data/`

[2021-09-13 12:43] #29 closed

[2021-09-13 15:05] adizhol commented on #33
This probably happens because mysql tries to chown mysql/ca-key.pem

[2021-09-13 18:25] vanpelt commented on #33
You can specify a userid for the docker container to launch as.  As long as the container is started with the root group (0) and that group has write permissions to all content in `/vol` the system will work.

It's important to note that running the container with any persistence mounted in it is intended for trial purposes only.  You should license the server and connect it to an external MySQL d

[2021-09-13 18:41] vanpelt commented on #31
Hey @DanaHan we're working on improvements to this due out in the next release hopefully this week.  I'll add a link to documentation once that goes live.

[2021-09-13 19:20] vanpelt commented on #32
@pbower we force you to change the default user for security.  We'll fix the terms and conditions link issue, but you must signup with an email address and username that is not local to actually use a local instance.  We don't share this email address with any external services and it's only used to send notifications from the server itself.

If you visit the service from an incognito window or cl

[2021-09-13 19:20] #32 closed

[2021-09-14 01:18] pbower commented on #32
Hi @vanpelt  , but when having already signed up, once cannot login? It just shows the signup window, and then says 'username already taken'.
So one needs to signup with a new account every time in order to login, rather than use the login?

This was not present in 0.9.41 but appears to have occurred since then.

[2021-09-14 02:56] vanpelt commented on #32
@pbower I got a notification about a comment asking if you had to signup every time but it's not rendering on github for some reason...

You will only need to signup once and specifing your email, username and password.  Then as long as you've mounted a persistent volume into the container (which happens automatically when running `wandb local`) you can use that account to login.

[2021-09-14 08:01] adizhol commented on #33
when starting docker with uid and gid
`docker run --rm -v wandb:/vol  -p 8080:8080 --name wandb-local --user $(id -u):$(id -g) wandb/local `
I get the following error in STDOUT:

[code]

[2021-09-16 14:23] ant1s commented on #25
I met the problem exactly as yours these days, and finally I solved this problem by copying /vol data from another successful initialized machine

[2021-09-16 15:19] neeek2303 opened #34 "wandb: Network error (ConnectionError), entering retry loop."
I started docker on a server, set ports and successfully open the web page, and then just tried to run simple code:
[code]
but got an error: wandb: Network error (ConnectionError), entering retry loop.
Why do I need a network if I run locally?

[2021-09-16 20:25] vanpelt commented on #34
The notebook needs to send metrics over the network to the wandb server running on localhost:8080.  This means the notebook must be running on the same machine as the local wandb server.  If you ran `wandb local` on that machine it will be configured to talk to the server on localhost.

If the jupyter server is running from within docker you would need to configure that docker instance to talk to

[2021-09-19 11:26] JieGenius opened #35 "RequestError (500): send request failed (original: Get "http://127.0.0.1:9000/local-files/yang***/*****/3k2xr8hc/wandb-metadata.json": dial tcp 127.0.0.1:9000: connect: connection refused)"
When I update wandb-local from v0.9.39 to v0.9.43, I can't open website page. The error message is :
RequestError (500): send request failed (original: Get "http://127.0.0.1:9000/local-files/yang***/*****/3k2xr8hc/wandb-metadata.json": dial tcp 127.0.0.1:9000: connect: connection refused)

I don't know why to have a port 9000.
![image](https://user-images.githubusercontent.com/39705429/133925670-5

[2021-09-19 20:20] vanpelt commented on #35
@JieGenius this indicates that the minio object store running inside of the container is not accepting connections.  I would try restarting the container.  If that doesn't work, you can exec into the container and see if there are any details in the following log file: /var/log/minio.log

[2021-09-21 12:27] opsxcq opened #36 "Container enter crash loop when machine restarts"
When the machine where the docker container running wandb restarts, the container enters in a crash loop, the only way to solve the problem is to remove the container and create it again.

Image id: 9b661d2d9510

[code]

[2021-09-21 18:35] vanpelt commented on #36
Yeah, this is a known issue with the way docker does restarts.  You should be able to run the container as system level service that should handle hard restarts.  [This blog ](https://blog.container-solutions.com/running-docker-containers-with-systemd) has some good examples.

[2021-09-22 08:02] serchu opened #37 "Local Server points to localhost when trying to download artifacts"
I have a running local instance in my PC with Docker. `wandb local` and everything works fine: people can connect to it from **other machines** by pointing to my IP, accessing to the web service and using Python to upload data to a run.

The only thing that is not working is when trying to download an artifact (with several files), the execution either gets blocked or it just downloads a 1-byte fi

[2021-09-22 20:33] vanpelt commented on #37
You should configure a load balancer in front of the container and configure DNS.  You're also risking data loss by not licensing and connecting external MySQL and S3 storage.  All that being said, you likely want to update the Host setting at /system-admin to point to your external IP instead of localhost.

[2021-09-23 02:31] JieGenius commented on #35
@vanpelt Thank you! I have solved this problem by checking the log file.
The message from the minio.log file:
`ERROR Invalid command line arguments: Cross-device mounts detected on path (/vol/minio) at following locations [/vol/minio/local-files/xxxxxx/warehouse]. Export path should not have any sub-mounts, refusing to start.

It works fine when I unmount another disc.

[2021-09-23 02:31] #35 closed

[2021-09-25 01:43] DanaHan opened #38 "Enhance admin privilege and team function"
1. Now, in Wandb/local, administrator can only add new user and very limit control to the system. I think  ,as the admin, I need more privilege to control the whole system. For example, manager all users’ projects even if  the private projects, this will help to clean invalid runs.
2. The team function is weak. It hard to see other users’ projects in a team even the project is public. The privileg

[2021-09-30 06:54] lostork opened #39 "Fail to sign up due to 'entity already exists for the user local' ERROR"
I set up wandb local docker on server and attempt to sign up in http://server_ip:8080 . After signing up, **'entity already exists for the user local' ERROR** always appears, so that I cannot get API KEY.
Does anyone have any ideas?
![截屏2021-09-30 下午2 52 32](https://user-images.githubusercontent.com/9561442/135402189-51e43718-aebe-4c48-9dfe-ad52e3ebe52f.png)

[2021-10-01 17:27] vanpelt commented on #39
Hey @lostork not sure how you got into that state.  If you don't have any data in the instance, the simplest fix is to remove the persistent volume and start over:

[code]

Then when you first access the instance you'll be prompted to create your admin account.

[2021-10-06 14:16] serchu commented on #37
Thank you very much! /system-admin was all I needed to setup that.

[2021-10-06 14:16] #37 closed

[2021-10-08 08:38] bzamecnik commented on #11
The `wandb/local` image is the server, while the command provided to it is meant for the client (which also needs a terminal - tty).

[2021-10-08 08:40] bzamecnik opened #40 "Wandb/local crashes due to stopped mysql"
wandb/local 489109b083ce (buildDate: 2021-09-28, gitHash: 8570aa155, version: 0.9.44)

Migrations finish, but mysql then shuts down and the application can't connect to it. In particular, mysql starts and shuts down 2x and then lies flat.

UI - after attempting to create the first user account:
[code]

[code]

[code]

[code]

I want unable to find the reason why mysql stopped itself immediately.

[2021-10-08 09:21] #40 closed, assigned to nobody

[2021-10-11 05:33] bzamecnik commented on #40
The embedded MySQL works OK, except `service mysqld status` shows it's stopped. Likely as it's run by a different mechanism.

[2021-10-11 10:05] carloalbertobarbano commented on #16
@vanpelt same happens to me. same error, removing volume is not doing anything. wandb-local has become unusable

[2021-10-11 21:12] vanpelt commented on #17
@bzamecnik exactly, the terraform in this repository can make that really straight forward.

[2021-10-11 21:20] vanpelt commented on #39
@carloalbertobarbano if you remove the volume, be sure to visit http://localhost:8080/logout or access the instance from an incognito window to ensure the initial account creation process is properly triggered.

[2021-10-12 08:08] carloalbertobarbano commented on #16
Sure, maybe let's keep the discussion in #39 so it is easier to follow?

[2021-10-12 11:07] LJL36 opened #41 "the reset commands is useless"
Hello, I am unable to create account, showing "An application error occurred."

So i use the commands:

[code]
to reset the docker state. However it is useless

the docker log shows in the following:

*** Running /etc/my_init.d/01_enable-services.sh...
*** Copying services to runit
*** Copying jobber template
*** Enabling production mode
*** Running /etc/my_init.d/02_load-settings.sh...
*** Loadin

[2021-10-12 20:16] vanpelt commented on #39
@carloalbertobarbano these errors are being caused by the initial migration of the database failing.  This is likely due to filesystem driver issues or other docker specific issues with the filesystem being mounted in.  The most important error is right after "*** Migrating database":

[code]

 This makes me think that the file system you're mounting in is a networked file system.  During the init

[2021-10-13 04:07] #41 closed

[2021-10-14 11:39] NDer100KG opened #42 "Files still remain after I delete the runs from the dashboard"
Hi, I've meet some problem but seems no answers on the internet.

I build my local server using the command `wandb local`, and everything is working good,
However, I found that even though I have deleted the runs from dashboard, the run files still remain in `/var/lib/docker/volumes/wandb/_data/minio/local-files/USERNAME/PROJECT`

I've tried using command `wandb sync --clean` and `wandb sync --cle

[2021-10-20 09:59] leeyh20 commented on #39
Same, i got the same error for a locally mounted ext4 partition for newest version of wandb/local (0.9.44) . Its not a networked file system. Plus, its a clean install of wandb. Another information I can add is that this partition has "nosuid", not sure if that affects. But it affected me when I exec bash into the docker and tried to run "sudo mysql". I couldn't sudo because my partition is mounte

[2021-10-20 16:01] leeyh20 opened #43 "How do I check the total storage size of my local wandb docker volume?"
There is a bar for storage size, but it doesnt tell me the total storage size. How can I check this?

[2021-10-20 16:41] #43 closed, assigned to nobody

[2021-10-21 23:48] vanpelt commented on #39
@leeyh20 I'm not sure this is related to a specific version of wandb or simply the amount of MySQL migrations that are required in later versions.  Each release generally contains some additional schema information that needs to be updated in the database.  I'm curious if the migration is able to recover after it fails.  To test this, you can stop the failed container and start it back up with the

[2021-11-03 13:42] chuber1986 opened #44 "Failed to sign up 'Unable to create account, contact your administrator.'"
Hi,
everytime I want to signup an account I the get this error message:
![grafik](https://user-images.githubusercontent.com/18696575/140070068-e84d4188-becc-450b-94e6-265934de9e20.png)

Docker logs do look fine. The MySQL log ends with the following:
![grafik](https://user-images.githubusercontent.com/18696575/140070412-23f9d25c-a35a-4d5e-aeb7-a17c79ceb673.png)

I tried with and without '-e LOCAL_

[2021-11-03 17:44] vanpelt commented on #44
Hey @chuber1986 would you be up for hopping on a quick screenshare today after 12pm PDT?  I can help you do some deeper digging to see what the root cause is here.  My email address is vanpelt@wandb.com if you just want to send an invite.

[2021-11-04 06:53] chuber1986 commented on #44
Hey @vanpelt, unfortunatly I did see you kind offer earlier. I'm 8h ahead of PDT. If you could spare a couple of minutes today between 10am and 12pm PDT, I'd glady accept your offer!? Would you prefer Zoom of MS Teams?
br Ch

[2021-11-04 21:44] vanpelt commented on #44
Hey @chuber1986 apologies for the back and forth.  I can do tomorrow at 11am PDT if that works for you?  Zoom is preferred, but either work.

[2021-11-05 08:02] chuber1986 commented on #44
Hey, 11am is fine. I sent you a Zoom invite. Thanks, for your time!

[2021-11-05 19:18] vanpelt commented on #44
Glad we got it sorted.  For anyone else coming to this thread, we're still digging into the root cause, but you can get yourself out of it with the following steps:

[code]

Once those steps have been completed, you can logout and log back into your instance.

[2021-11-09 12:01] DDDlk opened #46 "system-admin -- Application Error Unable to reach the backend api. If this perists, check the system logs."
when i enter the _Frontend Host_
![image](https://user-images.githubusercontent.com/22271047/140920619-4353f2fd-a6c9-42e0-8793-51c0a9833f3c.png)
so i can not enter  the license.

[2021-11-09 22:29] vanpelt commented on #46
@DDDlk are you able to select "Debug Bundle" from the menu in the upper right corner of the `/system-admin` page and share it here or directly to vanpelt@wandb.com?

[2021-11-09 22:35] vanpelt commented on #31
@DanaHan here are beta instructions for configuring OIDC with version 0.9.45 of local:

Configuring a direct OIDC connection without Auth0 is currently in a beta status and subject to change.  You'll need to configure an OIDC application in your IDP that supports the implicit form_post token exchange to https://YOURINSTANCE/oidc/callback.  Then you can set the following environment variables to ma

[2021-11-10 02:05] DanaHan commented on #31
@vanpelt Thanks, I will try it.

[2021-11-10 12:29] DanaHan commented on #31
I have tried this new version.
Now, I can enter auth page and get the auth result successd. But then I get a 405 error.
My openid-configuration is:
`{
  "issuer": "https://dex-wandb.svc:5556",
  "authorization_endpoint": "https://dex-wandb.svc:5556/auth",
  "token_endpoint": "https://dex-wandb.svc:5556/token",
  "jwks_uri": "https://dex-wandb.svc:5556/keys",
  "userinfo_endpoint": "https://dex-wan

[2021-11-10 15:52] carloalbertobarbano commented on #39
Just tried the latest versions..still not working on a fresh ubuntu install

[2021-11-10 18:26] vanpelt commented on #31
Dex should be issuing a 302 redirect with a post body instead of GET request with the content in the query string...  Looking at your values, GORILLA_OIDC_JWK_URL should be set to http://dex-wandb.svc:5556/keys

It might be that Dex or your version of dex doesn't support `response_mode=form_post`.  I found [this branch](https://github.com/ory/hydra/commit/7f9605ea2ed35fb266f10ad673ae6c77370ea19e)

[2021-11-10 18:42] vanpelt commented on #39
@carloalbertobarbano are you getting the "RELEASE LOCK" error, or the "entity already exists for user local" error?  Can you share the output of `docker logs wandb-local`?

[2021-11-10 20:42] carloalbertobarbano commented on #39
I'm still getting errors with the database migration

[code]

[2021-11-10 20:55] vanpelt commented on #39
And the contents of `/var/log/mysql.log`?

[2021-11-10 21:14] carloalbertobarbano commented on #39
This is the content:

[code]

After the first block it is repeated from "TIMESTAMP [...]" on

The command I'm issuing is:

```docker run --rm -d -u root -v /data/wandb-storage:/vol -p 8080:8080 --name wandb-local  wandb/local:latest```

[2021-11-10 21:44] vanpelt commented on #39
This is helpful, MySQL is not allowing you to start it as root.  Our system is designed to be started as an untrusted user as long as it's started with the root group.  Can you try running the command with `-u 1001 -g 0` instead of `-u root`?

[2021-11-10 21:54] carloalbertobarbano commented on #39
```-g`` is unrecognized, did you mean ```-u 1001:0``` ?

With ```docker run --rm -d -u 1001:0 -v /data/wandb-storage2:/vol -p 8080:8080 --name wandb-local  wandb/local:latest``` I'm getting:

[code]

and so on

[2021-11-10 22:05] carloalbertobarbano commented on #39
If I create a new storage folder, chmod it to 777 and start the container with: ```docker run --rm -it -v /data/wandb-storage2:/vol -p 8080:8080 --name wandb-local  wandb/local:latest```

I get the following:

[code]

The ```/var/log/mysql.log``` file now contains:

[code]

...last two lines?

[2021-11-11 01:15] vanpelt commented on #39
The new error is caused by a very slow filesystem.  Can you try modifying
the storage driver being used and starting with fresh volumes to see if you
can find one that works on your machine?

https://docs.docker.com/storage/storagedriver/select-storage-driver/

On Wed, Nov 10, 2021 at 2:05 PM Carlo Alberto Barbano <
***@***.***> wrote:

[2021-11-11 11:39] carloalbertobarbano commented on #39
Changing the storage driver does solve the issue..

PS I am getting the same errors even if using a nvme ssd storage backend

[2021-11-11 21:41] vanpelt commented on #39
@carloalbertobarbano can you try starting the server without a volume mounted in so that we can verify this is a docker storage driver related issue?  Just know that the server will lose all data if you restart it, we just want to see if this is driver related or something else is happening.

[2021-11-12 10:17] carloalbertobarbano commented on #39
Sure thing. The host specs are as follows:

- OS: ```Ubuntu 24.04.03 LTS```
- Kernel version: ```Linux alpina 5.10.0-1045-oem #47-Ubuntu SMP Wed Aug 18 10:41:03 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux```
- CPU: Intel(R) Xeon(R) W-2255 CPU @ 3.70GHz
- RAM: 64GB
- 1TB SSD NVME (/var/lib/docker is mounted on this device)

The command I've given: ```docker run --rm -it -p 8080:8080 --name wandb-latest

[2021-11-23 07:44] Gccxeon commented on #39
same issue here, any one know which docker tag is the last working version?

[2021-11-24 02:05] vanpelt commented on #39
@Gccxeon @carloalbertobarbano can you try with the latest version of local `wandb/local:0.9.46` on a fresh volume?  If you're still getting errors, please share the output of `docker logs wandb-local` and any screenshot of errors in the application itself.

[2021-11-24 06:45] PeterJaq commented on #46
![1637736246(1)](https://user-images.githubusercontent.com/15727924/143188237-9b03f5a5-3fb1-49d1-aed0-0ff539bc610d.png)

I also meet the same problem, when I apply for the licence and click the update setting button in /system-admin page. This application error appeared.

[2021-11-24 13:48] carloalbertobarbano commented on #39
Hi, thanks for your response. Unfortunately I am getting the same errors I attached above.. :(

[2021-11-24 15:45] tresiwald commented on #46
Same problem here.
Please find the debug bundle:
[debug.zip](https://github.com/wandb/local/files/7596979/debug.zip)

[2021-11-27 03:26] vanpelt commented on #39
@carloalbertobarbano there are a number of different errors in this thread, please share the output of `docker logs wandb-local`, the command you're running, and any screenshots that are relevant.

[2021-11-29 06:23] JieGenius opened #47 "wandb: Network error (ConnectTimeout), entering retry loop."
The error casued by `wandb sync run-****`, which i logined to self-hosting server.

wandb: Network error (ConnectTimeout), entering retry loop.
wandb: Network error (ReadTimeout), entering retry loop.
...

I can sync this run to https://api.wandb.ai，but i cant sync to self-hosting server

[2021-11-29 08:06] GuodongQi commented on #46
same here

[2021-11-29 08:14] MPGek commented on #46
Same for me, on 0.9.45 and on 0.9.46.

[2021-12-03 11:52] carloalbertobarbano commented on #39
I am getting the same exact erros and logs I attached in my last comment where I tried all of the possible docker configurations: https://github.com/wandb/local/issues/39#issuecomment-966985030

Same error (as in screenshot), same mysql log, same docker output.
This is the command ```docker run --rm -it -p 8080:8080 --name wandb-latest wandb/local:0.9.46```

![image](https://user-images.githubuser

[2021-12-08 03:21] vanpelt commented on #39
@carloalbertobarbano apologies for the delayed response, I was on vacation.  You should be mounting a volume into the container, otherwise you'll lose all data when it restarts.  You can add `-v wandb:/vol` to your docker run command.  If you're still getting that error message and the output of `docker logs wandb-local` contains:

[code]

Then you may need to manually remove and add a user via th

[2021-12-08 03:41] vanpelt commented on #47
Hey @JieGenius this is due to a firewall or networking configuration issue on your end.  Can you try running:

[code]

And paste the input.  You may need to open the firewall or otherwise configure your network to allow connections from other machines.

[2021-12-08 03:43] vanpelt commented on #46
@MPGek @GuodongQi can you share the debug bundles as described in my comment.  @tresiwald unfortunately that debug file is corrupted and I can't read it.  Feel free to send them directly to vanpelt@wandb.com

[2021-12-08 08:19] GuodongQi commented on #46
I have tried to generated it many times, and my debug file is still corrupted too.  [debug.zip](https://github.com/wandb/local/files/7674435/debug.zip)

[2021-12-08 19:38] vanpelt commented on #46
@GuodongQi can you exec into the container and share the following logs?

[code]

[2021-12-09 10:18] littlerookie commented on #46
@vanpelt I meet the same problem,
`/var/log/local.log`

`127.0.0.1 - - [09/Dec/2021:10:05:24 +0000] "GET / HTTP/1.1" 200 2283
127.0.0.1 - - [09/Dec/2021:10:05:24 +0000] "GET /static/css/2.19edfb45.chunk.css HTTP/1.1" 200 593
127.0.0.1 - - [09/Dec/2021:10:05:24 +0000] "GET /static/css/main.fc582b62.chunk.css HTTP/1.1" 200 592606
127.0.0.1 - - [09/Dec/2021:10:05:25 +0000] "GET /static/js/2.6b703198.

[2021-12-09 10:46] GuodongQi commented on #46
Same as @littlerookie, except the port is changed to 8083.
![image](https://user-images.githubusercontent.com/18243549/145382076-469f8695-89da-4ce4-bf19-12a3e705408c.png)

[2021-12-09 13:47] daihengming commented on #39
Hi,
I followed the steps but got an "Invalid password" error when i tried to login.
Could u please clarify the format of users.htpasswd.
Thanks!

[2021-12-09 18:50] vanpelt commented on #46
Ahh, I see what's happening.  When you're accessing the instance not from 127.0.0.1:8080 you'll need to tell the instance how you'll be accessing it.  You can do this by specifying the HOST environment variable on boot, i.e.

[code]

Or by setting the Host value on the settings page from 127.0.0.1 and saving the settings.

[2021-12-09 18:51] vanpelt commented on #39
@daihengming you should not manually add any lines to `users.htpasswd` that's what the `/usr/local/bin/local password YOUR@EMAIL.COM` command is for.  You should replace the emails address with the address you use to login and then you'll be prompted for your password.  That commands writes a BCrypted version of the password to the file.

[2021-12-10 04:55] GuodongQi commented on #46
Solved! Thanks!

[2021-12-10 05:46] littlerookie commented on #46
@vanpelt I use docker command with default port 8080 directly deploy the wandb-local container in my server
`docker run --rm -d -v /wandb/data:/vol -p 8080:8080 --name wandb-local wandb/local`
and use my computer to access the server_ip:8080, so what should I set?

[2021-12-10 21:42] vanpelt commented on #46
@littlerookie just add `-e HOST=http://server_ip:8080` to your docker run command.

[2021-12-16 05:32] littlerookie commented on #46
It works for me. Great Thanks.

[2021-12-18 11:17] MattAlexMiracle opened #48 "Really high memory usage due to mysqld"
Hi,
As of recent I've had stability problems with the wandb container. I narrowed it down to absurd memory usage of the mysqld:
On my system (Ryzen 1600, 32GB ram, Arch-linux) a bare wandb instance spawns dozens of mysql processes that in total take up 16GB+ or memory.
I was able to narrow it down to
https://github.com/docker-library/mysql/issues/579
In mysql.
I was able to confirm that the fix pr

[2021-12-20 19:24] vanpelt commented on #48
Thanks @MattAlexMiracle this is really helpful.  We'll look into adding this to default local command.

[2022-01-04 15:05] elgalu opened #50 "OIDC: /.well-known/jwks.json is hard-coded"
Hi, while trying to integrate OIDC we found that `/.well-known/jwks.json` url seems to be hard-coded.

Unfortunately our `jwks.json` file is located at a different url, namely `/.well-known/jwk_uris`

Would it be possible that the OIDC implementation of wandb/local changes so that it grabs the `"jwks_uri"` field from `/.well-known/openid-configuration` ? or to support a way to customize it, e.g. a

[2022-01-04 23:22] vanpelt commented on #50
Hey @elgalu the next release of wandb/local will allow you to connect custom OIDC providers more elgantly.  Until then, you can set the following environment variables to enable an external OIDC provider (this will only work in >=wandb/local:0.9.46)

[code]

The identity provider currently must support the implicit form_post flow.  The next release of wandb/local will also support the PKCE code ex

[2022-01-05 09:22] elgalu commented on #50
worked like a charm, thanks!

[2022-01-05 09:22] #50 closed

[2022-01-06 11:03] NDer100KG opened #51 "Tensorboard plugin not working"
Hi team WandB:

I am trying to use the function of syncing logs from tensorboard to wandb, and I also need the embedding projector function in tensorboard.

Although the charts have been synced to my wandb-local (assumed the codes are executing correctly? ), the tensorboard plugin seems not popped, as the following picture
![2](https://user-images.githubusercontent.com/37607859/148372767-1f3080dd-

[2022-01-06 22:04] vanpelt commented on #51
@NDer100KG Automated tensorboard serving only works in our SaaS offering.  We're planning to implement support for our local installations in the future, but this would require a kubernetes cluster and additional infrastructure.

[2022-01-06 22:04] #51 closed

[2022-01-11 02:22] davebulaval opened #52 "Terraform error putting S3 Bucket Notification Configuration: InvalidArgument: Unable to validate the following destination configurations"
I get the following error when trying for the Xth time to make wandb work.

`
error putting S3 Bucket Notification Configuration: InvalidArgument: Unable to validate the following destination configurations
`
Also, when using the docker, I cannot connect since it asks for a username and password and nothing works and I cannot set a new username and password.

[2022-01-11 15:12] davebulaval commented on #52
For point 2, I've found (and watched) this [video](https://www.youtube.com/watch?v=OnxnA3yRX9I), and It helped me. What I missed is that if you run it locally (not on a cloud instance), it launch a browser to enter the new user. But since I use a cloud instance, it cannot launch properly the browser. My fix was to open my ssh connexion with port binding (`ssh -L 5000:localhost:5000`, I choose to l

[2022-01-13 22:20] jmandivarapu1 opened #54 "Network Error"
Hi,

I am trying to get wanb started from our lab server. But it alsways shows the below error. I even reinstalled entire anaconda to make it work with no success.

<img width="681" alt="Screen Shot 2022-01-13 at 5 16 32 PM" src="https://user-images.githubusercontent.com/21245519/149417703-cff2fd57-53d8-4dc4-b325-8aec201727bd.png">

 I even went here (How do I deal with network issues?) (https://d

[2022-01-17 07:20] DanaHan commented on #31
@vanpelt Thanks for your great work. In 0.9.47,PKCE support has been added.
There are some changes in 0.9.47.
In 0.9.45:
name: GORILLA_OIDC_AUTHORIZE_PATH
value: auth
In 0.9.47:
name: GORILLA_OIDC_AUTHORIZE_PATH
value: /auth

And now, I get an error when I click login button:
We're sorry, but there was a problem authenticating your account: Invalid PKCE code exchange: Post "": unsupported protocol

[2022-01-18 18:12] vanpelt commented on #54
It looks like the wandb/local server isn't running.  Are you able to access the instance at http://localhost:8080 from your browser?  If you can share the output of the container logs that would be helpful, you can run `wandb logs wandb-local` to get them.

[2022-01-18 19:23] vanpelt commented on #31
Hey @DanaHan in 0.9.47 you shouldn't need the custom GORILLA_OIDC_AUTHORIZE_PATH in 0.9.47.  Instead you can configure the SSO provider directly in the ui at `/system-settings` or via environment variables:

[code]

The above environment variables should replace all of the previous variables you set, such as AUTH0_DOMAIN, AUTH0_CLIENT_ID, and GORILLA_OIDC_JWK_URL.

[2022-01-18 23:45] jmandivarapu1 commented on #54
<img width="689" alt="Screen Shot 2022-01-18 at 6 42 20 PM" src="https://user-images.githubusercontent.com/21245519/150036426-d0b58322-10a8-4998-b2aa-e059cacd50ee.png">

When I tried going to the port this is what happens it is struck on this screen forever

<img width="1337" alt="Screen Shot 2022-01-18 at 6 42 37 PM" src="https://user-images.githubusercontent.com/21245519/150036461-17ed6ce6-2da7-

[2022-01-19 00:00] jmandivarapu1 commented on #54
<img width="680" alt="Screen Shot 2022-01-18 at 6 55 30 PM" src="https://user-images.githubusercontent.com/21245519/150037750-55c04749-3afc-4047-86f6-ac441d406148.png">

I think the issue is different in my case

1.  As you can see even though it shows it is running. It is not actually running when you check ```docker container ls --all```

2. So I ran it manually by the imaged_ID using ```docker

[2022-01-19 02:34] vanpelt commented on #54
Sorry, I meant `docker logs wandb-local` that should display the appropriate errors.

I also noticed you're trying to access the service on http://localhost:8081.  If you're not going to access the service from the default host of localhost:8080 you'll need to pass the host as an environment variable when starting the container, i.e.

[code]

[2022-01-19 02:40] jmandivarapu1 commented on #54
<img width="656" alt="Screen Shot 2022-01-18 at 9 38 20 PM" src="https://user-images.githubusercontent.com/21245519/150053287-7b9059b6-a3b5-42dc-b644-ca608891f023.png">

It's still the same.
<img width="1286" alt="Screen Shot 2022-01-18 at 9 39 37 PM" src="https://user-images.githubusercontent.com/21245519/150053421-1affa10f-7191-4c54-a884-5d8f1c639000.png">

[2022-01-19 04:25] DanaHan commented on #31
@vanpelt Thanks. I have successed to run wandb in my local server with DEX.
There are still 2 problems:
1. My dex uses a self-signed certificate. And it seems that wandb cannot start backend and show x509 certificate is authorized by an unknown authorized organization. I have to change DEX from https to http. Can you add a env parameter to ignore certificate check?
2. If I do not set HOST env para

[2022-01-20 19:29] vanpelt commented on #31
Hey @DanaHan,

1. I'm hesitant to implement ignoring the certificate.  A better option would be for you to add the self signed certificate to the trust chain.  Let me think about better ways to make this easy to setup.
2. Yep, this behavior changed in 0.9.47.  We'll sync internally about the best way to address this.  The next release isn't officially scheduled until early Feb, but we may be able

[2022-01-21 13:48] DanaHan commented on #31
@vanpelt I also need to report another bug.
When user login with SSO, I can input full name and username is UI at first time.
But in this situation, the email should be the same as username, and I can not change email in UI.
Next, if the user is invited to a team, an error is coming. The log shows that the email format is incorrect.
Now, I have to change email from mysql database directly, and all

[2022-01-21 23:59] vanpelt commented on #31
Hey @DanaHan you need to configure your dex server to return the users email in the claims.  Our SSO keys off of the "email" attribute in the id token we receive from dex.  All users in wandb will have an email (which we get from dex) and a username which the user chooses the first time they access the instance.  Users can be invited by either email address or username.

[2022-01-22 04:14] DanaHan commented on #31
@vanpelt
Thanks. You are right.
I made a stupid error in my DEX config.
I set the mailattr to uid directly in the connector settings. So  the username and email are the same.
😅

[2022-01-22 04:15] #31 closed

[2022-02-01 14:01] byteSamurai commented on #36
Hey @vanpelt,
I looked into one the Docker image, because was not able to find the corresponding repository for it. I found a init script at `/etc/my_init.d/01_enable-services.sh`, which contains this:

[code]
I think I understand the setup process in  `/sbin/my_init`, but I see no reason why to move the files, instead of copy them recursively. That would make that single step more resilient, woul

[2022-02-01 23:17] vanpelt commented on #36
Hey @opsxcq both great suggestions.  We'll look into implementing these in a future release.

[2022-02-02 07:28] byteSamurai commented on #36
@vanpelt If you tell me repository, I would be happy to send you a tested PR

[2022-02-02 07:41] vanpelt commented on #36
Thanks @byteSamurai, the repo containing the source is currently private.  I created [a gist](https://gist.github.com/vanpelt/797549b40dae65fdfaaac3ff1f4625a4) with the init scripts.   I can apply the diff and be sure to mention you in the release notes!

[2022-02-03 14:58] byteSamurai commented on #36
@vanpelt sorry for the delay. I changed the discussed lines [here](https://gist.github.com/byteSamurai/755c2e97002e287627fea3a2bb31bbf8 ).
How I tested:

- created a local image, overwriting only `/etc/my_init.d/01_enable-services.sh`
- Starting and restarting the container several times works, so I consider it as fixed.

What do you think?

[2022-02-04 04:26] vanpelt commented on #36
Awesome!  We'll get this into the next release.

[2022-02-04 15:28] byteSamurai commented on #36
Cool, could you let me know when this is the case, @vanpelt ? So I can replace my locally build image :)

Also, [this guideline/template](https://betterdev.blog/minimal-safe-bash-script-template/) might be interesting to whoever is in charge of your shell script.

[2022-02-08 03:11] loctruong96 opened #56 "experiment have no files"
I followed the instruction to setup wandb local and everything is working except for files do not show up in experiments. I checked /vol/minio/local-files/ and they show up there. Just not in the web UI. Any ideas?

Thanks!

[2022-02-08 04:15] vanpelt commented on #56
@loctruong96 this is odd, we haven't seen this reported before.  It could be a resource issue.  When files are uploaded to the container an event is added to a queue.  The queue sits in Redis inside the instance.  There's a process that consumes these events from the queue which make the files show up in our UI.

You can goto the "System Settings" page from the profile menu and then choose "Debug

[2022-02-08 06:05] loctruong96 commented on #56
@vanpelt I've sent the email with the debug file. Let me know if you need any thing else. Thank you for looking into it.

[2022-02-23 08:38] AndreaBrg commented on #39
Hello, I'm trying to run wandb local with docker but unfortunately it won't start.

The machine I'm running the docker on has the following specs:

- OS: Ubuntu 20.04.3 LTS
- Kernel version: Linux eidos-service 5.4.0-90-generic #101-Ubuntu SMP Fri Oct 15 20:00:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- CPU:  Intel Xeon Processor (Skylake, IBRS) - 2099.996 MHz
- RAM: 16 GB

I used the command `do

[2022-02-23 22:52] vanpelt commented on #39
@AndreaBrg the following errors in the mysql log indicate the performance of the filesystem in the container is very poor.

[code]

There are [settings in the database](https://stackoverflow.com/questions/41134785/how-to-solve-mysql-warning-innodb-page-cleaner-1000ms-intended-loop-took-xxx) that may improve this performance, but we currently don't provide a way to add these our migration process.

[2022-02-24 10:01] AndreaBrg commented on #39
@vanpelt a mix of `consistency=delegated` and this workaround https://github.com/wandb/local/issues/39#issuecomment-988462288 led to a working wandb instance. I'm a bit worried about using `consistency=delegated` as, for what I understood, it does not guarantee that data is written on the host's disk.

Here is the ouptut of `docker info`

[code]

[2022-02-24 19:50] vanpelt commented on #39
Good to hear @AndreaBrg.  I'm not a docker filesystem expert, but my understanding of consistency=delegated is you'll only face potential data loss issues if the filesystem is a networked file system with async, from the docker docs:

The default consistency ensures that if a separate process on your system also read from that directory all of the writes would be in sync with the container.  With

[2022-03-02 17:39] hrabago opened #58 "Cannot log large artifact files ~700mb using private cloud Terraform-Azure installation"
<img width="791" alt="image" src="https://user-images.githubusercontent.com/16505696/156414234-266e2afa-89c5-48d7-9119-2e3ae910de5d.png">

- using wandb-local:0.9.49 also tried 0.9.48

Hello,

Model training and logging of small artifact files works fine, but when I try to log a large model file to artifacts the upload process gets stuck in a loop. It usually uploads around 150 mb of the 765mb fil

[2022-03-02 19:35] vanpelt commented on #58
Hey @hrabago this was fixed in the most recent version of our client library.  With versions of the wandb client < 0.12.11 the maximum size of an artifact that can be uploaded to azure storage was 256mb.  The new logic supports files up to a terrabyte.  You'll also need to have the azure sdk installed for the logic to work, you can get it with:

[code]

Let me know if that resolves the problem!

[2022-03-02 19:53] hrabago commented on #58
Yes, that worked! Thank you so much @vanpelt!

[2022-03-02 19:53] #58 closed

[2022-03-07 04:33] ZhangYikaii opened #59 "Cannot jump to the login screen"
Everything looks nice, I can see this screen of the local host:

![image](https://user-images.githubusercontent.com/46623714/156968159-1ee057f3-b8b7-4b69-9acb-8c1fb20d0dd2.png)

**My question is** after clicking on `login`, it will automatically jump to the `signup` screen: (http://$MY_LOCAL_HOST_IP:8080/signup), and an error will be reported after registration input.
![image](https://user-images.

[2022-03-07 15:52] jsbroks commented on #59
Could you try running v0.9.48 to see if this resolves your issue.

[2022-03-08 14:45] wangm23456 commented on #39
boring!!

[2022-03-15 16:15] Lionelsy commented on #46
Excuse me. I just met the same problem as above when I wanted to set up the license.
(run the docker with `wandb local --port 8960 `)

<img width="1296" alt="Screen Shot 2022-03-15 at 11 34 43 PM" src="https://user-images.githubusercontent.com/44608444/158414440-697141e4-db3a-4314-80ee-588f4dc8a491.png">

I just followed the operations you mentioned, but it seemed that it didn't work :(
[code]
Wha

[2022-03-15 19:50] vanpelt commented on #46
@Lionelsy if you want it to listen on port 8096 you need to configure it with the `--port` option.  The host environment variable just tells the server how users will access the service.  Most customers put the service behind DNS with a load balancer that terminates SSL, i.e. -e HOST=https://wandb.mydomaon.com.  For this to work on port 8096 assuming you're accessing it from this IP address:

[cod

[2022-03-16 03:35] Lionelsy commented on #46
It works! Thanks for your rapid reply.
Because some ports are reserved in our lab server. lol.

[2022-03-17 05:09] DanaHan opened #61 "SSO dynamic callback"
In 0.9.48,
"SSO logins will provide dynamic callback URL's based on the original request for wandb/local"
I am not sure how to use it.
Any suggestions?

[2022-03-18 23:33] danielduckworth commented on #23
I too would appreciate this!

Perhaps Docker buildx would be useful here: https://docs.docker.com/buildx/working-with-buildx/

[2022-03-22 11:56] ViktorGrinin commented on #44
@vanpelt, hi! I have the same problem

Can you correct my steps?

1) docker stop wandb-local
2) docker volume rm wandb
3) wandb local -e LOCAL_RESTORE=true
# Wait 60 seconds
4) docker exec -it wandb-local bash
5) vi /vol/env/users.htpasswd
6) replace "local@wandb.com..." with "/usr/local/bin/local password YOUR@EMAIL.COM"
7) exit
8) refresh the page with an error

What password and YOUR@EMAIL.COM

[2022-03-22 12:45] vanpelt commented on #44
Whatever you choose, this is your account...

This shouldn't be necessary however.  If you're not accessing the local server at http://localhost:8080 you need to start the server with the host you're accessing it from:

wandb local -e HOST=http://192.168.0.10:8080

[2022-04-02 02:11] roganwang commented on #44
docker exec -it wandb-local bash
vi /vol/env/users.htpasswd # Remove the line with local@wandb.com in it
/usr/local/bin/local password YOUR@EMAIL.COM

I finished the above steps and I get this message: A service is down or restarting, contact your administrator to check the system logs.

[2022-04-02 02:15] roganwang commented on #44
Refresh the page and get "Loading is taking longer than expected" again. No matter what I do,  I will always get the same messge.

[2022-04-02 09:56] vanpelt commented on #44
This likely means your database is corrupt.  If you don't have any important data logged to the server, you can run:

docker stop wandb-local
docker volume rm wandb

Then you can start wandb again.  If you're still having issues, please share the output of

docker logs wandb-local

[2022-04-10 17:02] rhuang-cbi commented on #59
hello, I've been struggling with the same problem as well: login screen disappear in a blink and replaced by `signup` screen. Any help is appreciated!

I already configured the user following the `/usr/local/bin/local password EMAIL@ADDRESS.com` above so it gave me `Entity already exists` error.

![Screen Shot 2022-04-10 at 12 55 19 PM](https://user-images.githubusercontent.com/42774813/162630852-

[2022-04-13 12:02] YarrDOpanas commented on #16
Hello everyone! The same error exists on my side
[code]
didn't help. After executing this command `docker logs -f wandb-local` gives me
[code]
and on authorization page I can see
[code]

[2022-04-13 12:41] vanpelt commented on #16
Hey @YarrDOpanas that message indicates the migrations are have not yet completed.  This generally means you have a very poor performing file system.  This can be for a number of reasons.  Can you share the details about your OS and architecture you're running this from?  I.E linux x86 or Mac arm64 etc

[2022-04-13 12:54] YarrDOpanas commented on #16
Hey, @vanpelt , thank you for a such quick reply!
I did `wandb local --upgrade` . Not sure, if it was the reason, but after that it started working) BTW, I also had to visit `http://localhost:8080/logout` after removing wandb-local docker volume .

Architecture on the server where `wandb-local` is running is `Linux SilverBulletGeneral 5.11.0-1028-azure #31~20.04.2-Ubuntu SMP Tue Jan 18 08:46:15 UT

[2022-04-18 18:31] hrabago opened #62 "Artifact Collaborative Creation Mode not committing files"
Using

- wandb version 0.12.14
- wandb-local 0.9.50
- Private Cloud deployment on Azure

Followed the tutorial found [here](https://docs.wandb.ai/guides/artifacts/artifact-creation-modes#collaborative-mode) for uploading files to an artifact across different runs using collaborative mode. However run.finish_artifact doesn't commit the files and hangs. Below I'm including errors I found in the _deb

[2022-04-20 01:30] kevinlee325 opened #63 "Can I combine charts from two projects?"
I am working on an object detection task and trying two different models (faster-rcnn and mask-rcnn). For each model, l created a project and logged the validation loss.
I want to compare the two loss charts. First, I open the project of faster-rcnn and remember the min loss. Then, I open the project of mask-rcnn and compare the loss. Can I combine the loss charts into one chart?
The reason I did

[2022-04-21 09:29] ericxsun commented on #59
meet the same wired thing, cannot login (same setup as your)

with LOCAL_RESTORE=true to start (`docker run -e LOCAL_RESTORE=true --rm -d -v wandb:/vol -p 8080:8080 --name wandb-local wandb/local`), finally brings me to the signup page.

[2022-04-21 09:31] ericxsun commented on #59
meet the same wired thing, cannot login (same setup as your)

with LOCAL_RESTORE=true to start (`docker run -e LOCAL_RESTORE=true --rm -d -v wandb:/vol -p 8080:8080 --name wandb-local wandb/local`), finally brings me to the signup page.

[2022-04-21 10:59] ericxsun commented on #44
Following your script, I got the login page, and input the username & password, then login, then I got the signup page.

Step 1:
[code]

Step 2:
[code]

Step 3:
[code]

Attached: `docker logs -f wandb-local`

[code]

[2022-04-21 14:48] ericxsun opened #64 "wired login/signup error"
Pre:
- Docker version 20.10.12, build e91ed57
- wandb, version 0.12.14
- wandb local image latest

With the following actions:

[code]

0) then, trigger the `localhost:8080/logout`

<img width="529" alt="image" src="https://user-images.githubusercontent.com/1772912/164471236-e760ead4-ffd3-423d-a8bb-aeb604338e06.png">

and then I can see the` login ` and  `add license` :

<img width="702" alt="imag

[2022-04-21 18:33] xolyu opened #65 "SSO/OpenID-Connect: Full name and Username missing and requested from user"
in W&B Docker-Image, Version 0.10.0
I configured SSO with OpenID-Connect (OAuth2) on AD FS

1. on accessing `/login`, redirect to AD FS login page works
2. after successful login, redirect back into W&B to page `/signup`
3. page "Create your account" is open, user has to enter
    * Full name
    * Username
    * (and accept Terms and Conditions) &larr; it's ok

Mail address for the W&B account wi

[2022-04-22 02:19] ericxsun commented on #59
@venky-wandb still cannot login or signup. More detailed tries pls see https://github.com/wandb/local/issues/64

[2022-04-22 05:40] ericxsun commented on #64
One more try:

step 1: create and start a new volume
[code]

**Do not open the localhost:8080 pages.**

step 2: login wandb docker shell and remove line `local@wandb.com...` in `/vol/env/users.htpasswd`
[code]
![image](https://user-images.githubusercontent.com/1772912/164608603-3a3d4192-d35f-4f14-9eb4-dfce286707c6.png)

*NB*: I guess the param `-e LOCAL_RESTORE=true` led to the line `restore@wandb

[2022-04-23 13:46] vanpelt commented on #64
Hey @ericxsun we're working on a fix for this in the next release.  You should never under any circumstances manually alter database records or create entities, that will potentially get you into an even more funky state but I'm glad you got in and apologies for this bug.

[2022-04-24 08:56] better629 commented on #64
@ericxsun follow your steps, but still can't login in.sign up with pre-create account, but still occurs with `entity already exists for the user xxxx`. But can login in with restore account.

[2022-04-24 14:11] ericxsun commented on #64
@better629  with the latest try(https://github.com/wandb/local/issues/64#issuecomment-1106030481), I do not meet such same error(`entity already exists for the user xxxx`). Does the username (`xxxx`) of signup page is same as the pre-create account `xxxx@email-address`. If same, I think you can show the infos in `wandb_local.entities`, and remove and retry. Otherwise, try with the same name. Hope

[2022-04-25 01:41] better629 commented on #64
@ericxsun I use the email with other username which I update the sql table. If it should be the same, I will try it.
After login in, do u meet the backend api problem when save the license?

[2022-04-25 02:24] ericxsun commented on #64
No, I didn't meet the error. All is okay:

<img width="1085" alt="image" src="https://user-images.githubusercontent.com/1772912/165010456-82c87560-4c82-42fb-af41-8e03048ec80f.png">

[2022-04-25 05:06] better629 opened #66 "wandb local is all you need"
# Background
install wandb with `wandb local`, you can't access `http://192.16.50.11:8080` and it will redirect to `signup` page.
After `signup`, it occurs the page of
![20220424105603](https://user-images.githubusercontent.com/7869691/165023594-f1df7305-c136-4641-9d33-48c0979bc06c.jpg)

The error message is `Unable to create account, contact your administrator`

## Envirment
[code]

I install the

[2022-04-26 08:23] wztdream opened #67 "No hightlight for parallel coordinate"
Hi,
When our mouse cursor is on a sweep, there will be highlight for most charts(bold highlighted) which is very nice. But this features is not on for parallel coordinate curves. I find it is quite difficult to select a sweep in parallel coordinate panel,  it will be nice to add this selection feature to parallel coordinate, highlight the curve and show the information. Thank you for this great to

[2022-05-05 09:16] niclaswue opened #69 "Application Error after wandb local"
I am Ubuntu 22.04 LTS and use a conda environment with Python 3.9.
After `wandb local` and accessing http://hostname:8080 I get this

![image](https://user-images.githubusercontent.com/17875208/166894385-112f04c9-1e34-48fc-a6e3-dc2eb8b4eeda.png)
Refreshing or opening http://hostname:8080/signup or http://hostname:8080/authorize always results in the same error. How should I proceed to get more inf

[2022-05-05 22:18] vanpelt commented on #69
Hey @niclaswue can share how you're getting "hostname" to resolve in your network?  The most useful log here would be `/var/log/gorilla.log` as it looks like our service is unable to startup for some reason.  My guess would be your database failed to migrate or was interrupted.  If that's the case you'll want to stop the container, remove the volume, and start the instance again.

[2022-05-10 01:25] Crownor commented on #66
Hi, in my trial , the mysql returned Empty after I added custom user, is there any solution?

[2022-05-15 06:54] Jeffrey28 commented on #64
<img width="665" alt="image" src="https://user-images.githubusercontent.com/26816785/168460987-9c624cc4-1d9f-42d1-bdd9-85010d82a756.png">
There has been no change in this interface. Is there any method to tackle it?

[2022-05-16 02:24] ericxsun commented on #64
It'll cost much time to init the environment

Waiting!!!

or try again(if it cost too much time) :

[code]

Wish you good luck

[2022-05-17 08:32] Jeffrey28 commented on #64
I have tried and waited for a long time almost one day. It still doesn't work.

[2022-05-18 02:33] vanpelt commented on #64
@Jeffrey28 can you share the output of `docker logs wandb-local`

[2022-05-18 02:53] Jeffrey28 commented on #64
Here it comes!
[code]

[2022-05-18 03:00] Jeffrey28 commented on #64
And there is no a file named logs in the folder /var.

[2022-05-18 03:37] Jeffrey28 commented on #64
[code]

[2022-05-18 03:43] vanpelt commented on #64
The database is timing out when migrating.  There's an issue with your docker filesystem driver.  Can you provide answers to:

1. Why are you running a local server?
2. What OS and docker version are you using?

[2022-05-18 07:08] Jeffrey28 commented on #64
1. Running a local server is useful when the network is poor. I often encounter data cannot be uploaded and network errors.
2. Ubuntu 20.04, Docker version 20.10.16

[2022-05-18 15:49] SirWyver opened #71 "IPv6 forward"
Hi,
I've noticed that I cannot reach the container via ipv6 requests.
Is there a work around?
Inside the container
`wget -4 http://localhost:8080` works but `wget -6 http://localhost:8080` fails.

Thank you very much!

[2022-05-18 20:42] vanpelt commented on #64
Hmm, let's try the following and see if things come up:

Hopefully we don't see any errors in those logs and everything comes up after ~5 minutes or so.  The main change here is adding the `:delegated` flag to the volume mount.  That should improve disk performance.

[2022-05-19 01:05] Jeffrey28 commented on #64
Still same errors.
*** Running /etc/my_init.d/00_regen_ssh_host_keys.sh...
*** Running /etc/my_init.d/01_enable-services.sh...
*** Copying services to runit
*** Copying jobber template
*** Enabling production mode
*** Running /etc/my_init.d/02_load-settings.sh...
*** Loading settings...
2022/05/19 00:19:09 Created default user
2022/05/19 00:19:09 Generating new session key for auth...
2022/05/19 0

[2022-05-19 17:41] vanpelt commented on #64
Can you share the mysql logs?

docker exec -it wandb-local bash
cat /var/log/mysql.log

[2022-05-20 21:17] MBakirWB commented on #71
Hi @SirWyver

I was able to successfully call `wget -4 and wget -6` to retrieve my local index.html page. Can you please share the error you are seeing when you are attempting to call `wget -6`.

Also to note, can you please share your use case for using IPv6. Thanks!

[2022-05-22 03:42] Jeffrey28 commented on #64
[code]

[2022-05-23 11:27] SirWyver commented on #71
Hi @MBakirWB
thanks for testing this on our side. My setup is that I want to run the wandb server as a pod inside kubernetes but I cannot reach it via it's ipv6. I noticed that when I attach to the container runnning the wandb server, I get:
[code]
 while its works fine for `wget -4 'http://localhost:8080'`.
When I try reaching the server via the ipv6 assigned to the pod, it fails as well, whereas

[2022-05-24 21:49] MBakirWB commented on #71
@SirWyver ,

We do support Kubernetes and have a basic deployment setup yaml file for reference, see [here](https://docs.wandb.ai/guides/self-hosted/setup/on-premise-baremetal#kubernetes-deployment). From what I could gather,  ipv4/ipv6 dual-stack networking needs to be configured on your end. Please see this reference[ document](https://kubernetes.io/docs/concepts/services-networking/dual-stack/)

[2022-05-26 01:17] wztdream opened #72 "Stop run takes very long time"
Hi,
During the grid sweep, some runs throw error due to user mistake(typo etc), then I need delete these failed runs, so I find the sweep and click the "stop run" button, but it usually will take about 3 to 5 minutes to stop the run, then I can delete the sweep. Is this normal? Is there improve space?

[2022-05-26 01:22] wztdream opened #73 "Some times we need reset password in order to login"
Hi,
This not happens each time when I tried to login wandb/local. Some times I login normally, but sometimes the login page says: "invalid password", so I have to reset the pass word in order to log in. I am pretty sure I used the correct password each time.

[2022-05-26 05:35] vanpelt commented on #73
@wztdream how are you running the container?  If you're running it in kubernetes you must only have a single replica.  Running it with multiple replicas will cause this behavior.

[2022-05-26 06:07] wztdream commented on #73
@vanpelt I just run `wandb local` in terminal (I use ubuntu20.04 by the way), then there will be a link(localhostxxxx) shows up, then I click the link and open an login page in firefox, then I login and sometimes the issue comes up. Is there something wrong of these steps?

[2022-05-26 22:52] MBakirWB commented on #72
Hi @wztdream ,

We are aware of certain runs that take time to stop before a user is allowed to delete them. This is due for various reasons, example, size of the run data logged. If you run into an issue where you are unable to stop/delete runs, then we would have to troubleshoot further. Are you experiencing issues with a particular run? Please share your workspace and I'd be happy to take a loo

[2022-05-27 02:22] wztdream commented on #72
@MBakirWB
Thank you for reply. The runs in my project is about 200(runs), I have no idea this count is large or not. The issue not for specific runs, it happens most of the time. May be this is due to there are relatively large mounts of runs in the project?
And unfortunately I am unable to share my workspace due to this is a private project for our team, anyway, I will feedback here if I can repr

[2022-06-02 00:19] MBakirWB commented on #72
@wztdream,

Thank you for the response. 200 runs is not a large enough count that would slow down run deletions. It's rather the amount of data logged during the run that would have greater influence.  We are currently working on updating code base to improve efficiency of deleting runs. For now I will close this out, but if you do run into any errors, please do let us know and provide a traceback

[2022-06-02 19:32] MBakirWB commented on #71
Hi @SirWyver ,

Have you had an opportunity to review your kubernetes configuration files for ipv6 support setup? Without seeing your configuration files, I unfortunately can't provide further assistance past my previous post where I provided reference materials for kubernetes ipv6 configuration. If you still need our assistance, please do send over your kubernetes image configuration files and we

[2022-06-03 15:24] nate-wandb commented on #64
Hi @ericxsun are there any log files within `/var/logs/` and if so could you send the contents of those?

[2022-06-06 13:32] rakesh-sodha opened #75 "Wandb local - API key must be 40 characters long, yours was 58"
Hi Team,

I am trying to perform Visualize training in your own ML project quick start for Integrate W&B with any Python script.
when I copy and paste local API Key from http://localhost:8080/authorize and paste in the command it gives an error:

wandb: ERROR API key must be 40 characters long, yours was 58

Kindly suggest how to get 40 char API key.

Thanks & Regards,
Rakesh

[2022-06-06 16:45] vanpelt commented on #75
Hey Rakesh, there must be something funky with the way your copying the key.  Our api keys are always 40 characters long.  With local deployments there's always a prefix, so it should look like: `local-X(*40)`.  Can you try pasting the key into a text editor and see if you're somehow copying some extra characters?

[2022-06-06 17:04] vanpelt commented on #75
@rakesh-sodha good to know, I wonder if we can somehow prevent this.  Can you share what browser / OS you're using?  If we can reproduce we might be able to prevent other users getting confused like this.

[2022-06-07 10:29] rakesh-sodha commented on #75
Hi @vanpelt

Browser Safari & macOS Monterey v12.4

Best Regards,
Rakesh

[2022-06-07 20:44] MBakirWB commented on #71
Hi @SirWyver  since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-06-13 08:15] kong13661 commented on #73
I have the same problem. I find the file `/vol/env/users.htpasswd` become empty. So I have to use the command `/usr/local/bin/local password ` to reset the password.
I use the command `docker run -e LOCAL_RESTORE=true --rm -d -v wandb:/vol -p 40200:8080 --name wandb-local wandb/local` to create the docker container.

[2022-06-14 17:57] ramit-wandb commented on #73
Hi @kong13661 @wztdream,

This is a known issue which we plan to resolve in the future - this does happen even if not running through kubernetes. I'll keep you updated on the status of its progress.

Thanks,
Ramit

[2022-06-16 23:11] MBakirWB commented on #75
@rakesh-sodha ,

Thank you for providing info. We will attempt to reproduce.

I did a search online to see if there are any known issues with `iTerm cmd` and a few hits came up regarding additional characters being added when pasting to it. Some have suggested to use `reset` in the terminal window to fix the problem. In the meantime we will attempt to reproduce.

[2022-06-21 16:03] nate-wandb commented on #64
@ericxsun I wanted to follow up on this and see if you still needed help with this?

[2022-06-22 01:56] ericxsun commented on #64
No, I've fixed it. You can refer to https://github.com/wandb/local/issues/64#issuecomment-1106030481.

[2022-06-24 14:31] WasifurRahman opened #78 "Installing wandb-local without docker support"
Hi, I work in a system that does not have docker support. Is there any way I can still use wandb-local?

[2022-06-24 16:47] ramit-wandb commented on #78
Hi @WasifurRahman,

While docker is not necessary, you will need some kind of containerization system that can run docker images, for e.g. Singularity could work here. That being said, we only officially support docker for Local, so there might be some unexpected bugs when running on Singularity.

[2022-06-24 23:15] WasifurRahman commented on #78
Thanks a lot for the response. Just to add, I don't have internet or root access inside that system. However, I can download a docker tarball and import it inside that protected system. Is there any way to install and use docker -- to run wandb-local server -- without root access?

[2022-06-27 04:46] Takshan commented on #44
having same issue...

[2022-06-30 18:16] ramit-wandb commented on #78
Hey @WasifurRahman,

Docker can not be installed without root access to your machine. Installing docker without root would be a major security concern.

[2022-07-03 17:42] Guitaricet commented on #44
Hi! Having the same issue.
After following these instructions

[code]

I see the login page, but can't log in with my email and password specified in `users.htpasswd`.

[2022-07-04 23:00] vanpelt commented on #44
You need to specify the HOST environment variable if you're not accessing the UI from 127.0.0.1

Can you share a screenshot or error you're seeing?

[2022-07-07 22:49] #78 closed

[2022-07-10 10:50] HaoLiuHust opened #80 "Error while downloading settings from external bucket specified in env var BUCKET"
after my server reboot, wandb-local can not start up with this error msg

[2022-07-11 00:43] Guitaricet commented on #44
Hello! I am accessing the UI from 127.0.01
Here's a screenshot
<img width="489" alt="Screen Shot 2022-07-10 at 8 41 32 PM" src="https://user-images.githubusercontent.com/2821124/178169220-bd429498-fdde-494b-b34c-49597f4ad434.png">

And this is the content of users.htpasswd

[code]

[2022-07-13 01:26] HaoLiuHust commented on #80
I am not use external s3 for now, I will reopen it if I have to use s3 again

[2022-07-18 17:43] Guitaricet commented on #46
Thank you for help! What could I do if my server is not accessible via IP? For example, if it is inside a (pretty complicated and secured) Kubernetes cluster and I only access it via `kubectl exec` or `kubectl port-forward`

[2022-07-18 18:33] Guitaricet commented on #64
I think wandb is amazing and I would really love to be able to use it locally, but this bug exists for at least 3 months now and haven't been resolved. I wasn't able to successfully run wandb inside a kubernetes environment after hours of looking at the logs and the github issues. I might be wrong, but at least to me this bug seems critical.

[2022-07-21 21:38] sephmard opened #82 "Invite user to teams without requiring emailing"

[2022-07-21 21:38] sephmard commented on #82
Link to feature: https://wandb.productboard.com/feature-board/planning/features/14131731

[2022-07-22 07:04] akashAD98 opened #83 "wandb: Network error (ConnectionError), entering retry loop."
im using  NVIDIA A100 40GB GPU to train my object detection model , im using ubantu 20.04 server machine & https://github.com/WongKinYiu/yolov7 this repo / but not able to do trainig of model because of wamdb issue

im using batch scripting to launch my job

**error log**

YOLOR 🚀 v0.1-43-g8b72ac7 torch 1.9.0+cu111 CUDA:0 (A100-SXM4-40GB, 40537.1875MB)

Retry attempt failed:
Traceback (most recent

[2022-07-22 07:08] akashAD98 commented on #83
https://github.com/wandb/local/issues/34 here is same issue but not able to solve

[2022-07-22 16:09] akashAD98 commented on #83
solved the issue by adding it inside my .sh file

Kindly use the below proxy ip addrss for wandb connection.

export http_proxy=http://dgx-proxy-mn.mgmt.siddhi.param:9090/

export ftp_proxy=http://dgx-proxy-mn.mgmt.siddhi.param:9090/

export https_proxy=http://dgx-proxy-mn.mgmt.siddhi.param:9090/

[2022-07-29 19:33] MBakirWB commented on #46
@Guitaricet , to get a shell to a running container of wandb, use `kubectl exec -it wandb-pod-name bash`.

[2022-07-29 20:30] Guitaricet commented on #46
@MBakirWB thank you, but my question was about specifying HOST environment variable.

[2022-07-29 21:01] MBakirWB commented on #46
Hi @Guitaricet , how are you currently accessing your W&B dashboard today? At what IP/URL?

[2022-07-30 04:28] Guitaricet commented on #46
Thank you @MBakirWB, that's good to know. I wasn't comfortable forwarding the app to my local 8080, so I changed it to a custom port (let's say 8899). If there is no implications of that, I will try it out.

[2022-08-01 02:36] Janus-Shiau opened #84 "Connection stuck without any error message"
I have used W&B local for years. Recently, I sometime get stuck when finish training run.

There is no error or warning messages at all, the last terminal message I got on client side is:

### Terminal Messages

[code]

### Environment & Version

My local instance is running on Ubuntu 16.04, and its version is `0.15.0`.
My client side is running on Ubuntu 16.04 or 18.04, and its version is `0.12.2

[2022-08-01 04:17] vanpelt commented on #84
Looks like you logged 58800 media files like images or video.  That will take a long time to upload and might fill up our overwhelm your disk.  You should reduce the number of media logged or purchase a license for a commercial version that can connect to cloud storage.

[2022-08-01 16:39] Guitaricet commented on #64
**UPD:** it looks like this problem resolves if you use port 8080 to launch wandb server **and to connect to it**. E.g., `port-forward 8080:8080`. At least the docker version of wandb works for me (`wandb version 0.12.21`).

[2022-08-05 03:03] Janus-Shiau commented on #84
The total size of these media files is not heavy. It's about 75 MB.

The Synchronization stuck also happen to a run without any media file.

[2022-08-05 03:18] Janus-Shiau opened #85 "Some old artifacts are unreachable"
Recently I found some of my previous logged artifacts are unreachable.

They are still on the UI, but I can't download these files.

If I using wandb api to download, for example:

[code]

I'll some error as follows:

[code]

My local instance is running on Ubuntu 16.04, and its version is `0.15.0`.
My client side is running on Ubuntu 16.04 or 18.04, and its version is `0.12.21` and `0.13.0`.

I a

[2022-08-05 22:41] vanpelt commented on #84
You can find details about what our process is doing by looking at the `wandb/debug-internal.log` process relative to your script.  We would need to see that to understand what's making the process stall.

[2022-08-05 22:43] vanpelt commented on #85
This means you're volume either changed or was dropped.  By default `wandb server` mounts a docker volume named "wandb" into the container that persists all data.  If the machine itself you were running on changed, or that volume was removed all the data within would be lost.

[2022-08-17 04:52] Janus-Shiau commented on #84
This is the log in `wandb/debug-internal.log`. I copy the INFO and DEBUG right after last `scan save` is logged.

[code]

Thank you for your time, I hope this issue can solved soon.

[2022-08-19 04:02] konatasick opened #86 ""panic: dial tcp 127.0.0.1:3306: connect: connection refused" when start server"
I met a problem similar to https://github.com/wandb/local/issues/7, but I cannot solve it by the method it mentions.

When I run
[code]
I get
[code]
But I cannot open  http://localhost:80 or  http://my_machine_ip:80

So I try:
[code]
However I get:
[code]
I also try
[code]
But it doesn't work.

[2022-08-19 23:25] MBakirWB commented on #86
Hi @konatasick if you have no data to worry about, delete the image and volume first then retry

[code]

[2022-08-23 02:57] konatasick commented on #86
Thanks for replying.

I tried your method but the problem still exists. After delete the image and volume, when I run:
[code]
I get
[code]
And I cannot open the website.

So I delete them again and try:
[code]
I get
[code]

[2022-08-23 09:15] Janus-Shiau commented on #84
I got different message today as following, just for your reference.

[code]

[2022-08-23 13:49] vanpelt commented on #86
MySQL is unable to start.  You can find logs for MySQL at /var/log/mysql.log which should tell us why it's not able to start.

[2022-08-26 15:04] Joy1112 commented on #66
Nice instructions!

I still have a question that can wandb local connect to Slack to send the alert?
I tried to click the button 'Connect Slack' but it'll lead to an error page.
![image](https://user-images.githubusercontent.com/39234644/186934315-cc9d5b53-0199-41f1-951c-4605a34ee75d.png)
![image](https://user-images.githubusercontent.com/39234644/186935348-9ba8a5f1-68d7-457c-825c-de86c07d4769.png

[2022-08-26 15:20] jsbroks commented on #66
Hi @Joy1112 This is a paid for feature. Sorry for the poor error message

[2022-09-17 23:40] byteSamurai opened #87 "Invalid memory error since docker image v0.19.0"
Hey,
I use a Watchtower to get the latest versions for my images. Since v0.19. I get the attached error message. I have struggles to debug it. The only fix to truncate the data directory and start fresh. Basically, I have only reports in my instance. Submitting them again, would be a very annoying. Is there a way to debug this/fix this?
[code]

[2022-09-27 19:34] ramit-wandb commented on #87
Hey @byteSamurai!

We believe this should be resolved in our latest version - v0.20.0 : Please let us know if you still face this issue!

Thanks,
Ramit

[2022-09-28 22:52] #87 closed

[2022-10-11 18:25] frostime opened #88 "Got "wandb: Network error (ConnectionError), entering retry loop." when I try start server on other port."
Hello, I'was wondering if I could change the default 8080 port to any others, however I failed and got some network errors.

I started the server by:
[code]
The docker shown that the container was running correctly.
[code]

And when I executed `wandb login` command in cli, it also worked:
[code]

But when I try to run my python script, error occured:

[code]

I guessed that it might stuck at `init

[2022-10-11 20:41] MBakirWB commented on #88
Hi @frostime, happy to help with your question.

Wandb does support port switching and binding. What I believe is happening here is you have your project `WANDB_BASE_URL` configured to a different port than `port 18080`. This will cause the network error you are experiencing as the project is attempting to log to a non existing instance. From your terminal, check your current setting using, `wandb

[2022-10-12 14:33] frostime commented on #88
Hi @MBakirWB , thanks so much for your help! It really works.

And I summarize the total procedure if anyone want to run wandb local server on another port, denotes `<port>`.

1. Start the server
[code]

2. Modify the environment variable `WANDB_BASE_URL`

[code]
    Run it in shell, or write it into `.bashrc` and run `source .basherc` for a long-term setting.

    If anything settled, you will ge

[2022-10-14 00:47] wztdream opened #89 "How to setting local file location on server side, how to delete local files there?"
Hi,
I am using wandb-local, it is great. but during training my computer says my disk is full.
I checked the disc usage it shows my system hard drive is used up by wandb

![image](https://user-images.githubusercontent.com/39213018/195736602-baabd4d5-4196-4ef7-9dbf-67fa52739d3d.png)

I have a small hard disc only used for system files, but wandb used up this disc. I have a much larger hard disc to

[2022-10-14 21:36] vanpelt commented on #13
For anyone else finding this, the appropriate way to start the container when the default user / file permissions aren't working is:

`docker run --user "100000:0" ...`

Running the container as root is generally a bad idea and anything on our file system that needs to be written to has a gid of 0.

[2022-10-14 22:55] MBakirWB commented on #88
Thanks for the update @frostime , glad it worked and thank you for providing a thorough example for others to follow. Please do reach back out again when you have any questions.

[2022-10-17 09:12] wztdream commented on #89
First let me clarity the setting on my side.
1. I have a disc(120G) mounted under root directory and wandb-local was installed there.
2.  I have another disc(1T) mounted under **/home** directory and my project was there.

I did not setting `dir` in `wandb.init()` , so wandb used the default setting, and indeed there is an `./wandb` directory under my project folder.  But the problem here seems no

[2022-10-18 20:23] MBakirWB commented on #33
Hi @EricWiener, I wasn't able to identify which files/folders @adizhol deleted from review of their posts. The statement **(from scratch)** reads to me as deleting their entire docker image/container and creating a new local instance.

[2022-10-19 15:08] AndreeaRadoescu opened #91 "Is it possible to sync old wandb local runs?"
Hi, I just managed to setup the local wandb version (had some issues with not being able to login, fixed thanks to [Issue #64 ](https://github.com/wandb/local/issues/64)) and I was wondering if it is possible to sync old runs that saved also wandb logs locally.

The problem that I seem to be having is that my previous runs all were using a different entity than what I have now and I couldn't find

[2022-10-19 16:18] vanpelt commented on #91
Sure!  You can either override the entity by passing the -e flag to wandb sync or create a team with the same name as the old runs used and add yourself to it.

[2022-10-19 20:24] MBakirWB commented on #91
Hi @AndreeaRadoescu , to add to the above with an expanded example, you can use the following command:

`wandb sync --project "<project-name>" --entity "<entity>" <path-to-run-folder>`

Test this with the following basic run, extract the content and add the run folder to your working directory

[run-20220829_191828-3cvxvrbj.zip](https://github.com/wandb/local/files/9823968/run-20220829_191828-3cvx

[2022-10-20 06:41] AndreeaRadoescu commented on #91
Thanks so much guys, it works. Before your answers I thought about just creating a username with the same name as the entity used in the experiments and that seemed to work but being able to change the entity name is a much better solution.

One more question though: in my attempt to try and get it to work, I might have `grep`ed for where that entity name was used in the wandb files and I saw it w

[2022-10-20 10:07] vanpelt commented on #91
If you change the file back to use the original entity name the checksum should succeed.

[2022-10-20 10:42] JiarunLiu opened #92 "Unable to recover private host (docker)"
Hi, I'm using an private wandb host in docker. Unfortunately, I accidentally restart my server and I lost my wandb container because the `--rf` option of docker. I'm trying to copy all wandb files in `/var/lib/docker/volumes/wandb/_data` to my hosting server so I can reload data by mapping these to `/vol` in a new wandb container.

Here is  my command:
[code]

Now I can see the web page, but still

[2022-10-20 11:30] erhlloyd opened #93 "Persistent metadata in hs_history table after run deletion"
hi W&B - in our local instance, we’ve noticed that the main parameter logging table in our MySQL db remains at capacity despite manual cleanup of old runs (done through the UI) which we had hoped would free up some space. We thought perhaps it’s keeping those old steps around to be able to perform undo operations, but we don’t need steps from months ago or from runs that have already been deleted.

[2022-10-20 11:46] AndreeaRadoescu commented on #91
Ok, I will try that then. Thanks so much for all your help!

[2022-10-20 11:46] #91 closed

[2022-10-20 17:06] thanos-wandb commented on #92
Hi @JiarunLiu thank you for reporting this, can you please try the following steps for the two issues you described:
1) login to the wandb docker shell, check the accounts and reset yours as follows:
[code]
2) You can find your previous license from [deploy.wandb.ai/deploy ](https://deploy.wandb.ai/deploy) Can you please send a screenshot if you can't find it? Then you add the license to your inst

[2022-10-21 00:18] JiarunLiu commented on #92
The `users.htpasswd` is empty, and I checked on the `settings.json`.
[code]

I can see many files like `.ibd` or `.frm` in `/vol/mysql/wandb_local`:
[code]

And here is my screenshot of [deploy.wandb.ai/deploy](https://deploy.wandb.ai/deploy)
<img width="1256" alt="image" src="https://user-images.githubusercontent.com/42335666/197079992-96b40b42-f5e9-4f8a-96fa-7078a3d1c1d9.png">

[2022-10-21 07:07] #88 closed

[2022-10-23 01:32] wztdream commented on #89
Hi Luis Bergua,
Thank you for looking at this. But setting WANDB_DIR did not work, this only changed the file path for the "client" side, not the **server** side, this is same by setting `dir` in `wandb-init`.

I did the experiment:
1. setting WANDB_DIR to `/home`
2. run experiments

the runs are stored on two locations:
1. client part: /home/wandb/**my-run**s
2. server part: /var/lib/docker/volum

[2022-10-24 09:13] Jeffrey28 opened #94 "wandb server start --upgarde hard to migrate database"
[code]

[2022-10-24 11:44] GFiz commented on #86
Experiencing the same issue

[2022-10-26 00:20] wztdream commented on #89
Hi Luis Bergua:
Thank you again:)

I understand current behavior is expected, as I asked previously if it is possible to install wandb-local under my `/home` directly? In that case both the remote and local files will be under my /home folder, there will be duplicate files, but it is OK as I have a large disc there.

Actually, I had used  wandb public for a while, and I switch to wand-local due to

[2022-10-26 02:13] vanpelt commented on #94
Hey @Jeffrey28 we just released a new version of the server that should address this problem.  Can you try upgrading again?

[2022-10-26 02:14] vanpelt commented on #86
@GFiz we just released a new version of the server that should address this problem.  Can you try upgrading and report back?

[2022-10-26 02:29] vanpelt commented on #89
Hey @wztdream when using the default `wandb server` command we use a named docker volume (wandb) by default.  The default location for these volumes is `/var/lib/docker/volumes/wandb`.  There are some clever ways to alter the path of the named volume by manually creating it, but the simplest would likely be to just run the container manually and specify a bind mount.  The command to run the contai

[2022-10-26 02:30] vanpelt commented on #89
Oh, and to free up the disk space from the original docker volume after copying the files you can run `docker volume rm wandb`

[2022-10-26 03:15] vanpelt commented on #94
@Jeffrey28 I've verified 0.22.0 works fine when upgrading from 0.20.0.  There was a regression in 0.21.0.  Can you try running:

[code]

If that doesn't work, can you share the output of `docker logs -f wandb-local`?

[2022-10-26 05:58] vanpelt commented on #94
We understand your fear and our adding more tests to prevent upgrade failures like this in the future.

0.21.0 had a regression which caused volumes created previously to fail upgrading.  If your volume was created in any version prior to 0.21.0, then upgrading to 0.22.0 would work.  If you created a fresh volume with 0.21.0 you'll need to either delete the volume, or run the following after upgra

[2022-10-26 10:15] thanos-wandb commented on #92
Hi @JiarunLiu I can send you the W&B Local license to your email. Were you able to add your username/password to the instance using `/usr/local/bin/local password EMAIL@ADDRESS.com` command and then login successfully?

[2022-10-26 11:02] vanpelt commented on #94
Sorry about the 2 lines not working, we'll investigate and reproduce the workspace error and provide lines that work.  You should never lose data, that's unacceptable.

[2022-10-26 11:22] vanpelt commented on #94
@Jeffrey28 I just verified lines that work when upgrading from a volume that was first mounted on version 0.21.0, to a server running 0.22.0:

[code]

[2022-10-26 11:45] JiarunLiu commented on #92
Yes, now I can login to my account after update password via `/usr/local/bin/local password EMAIL@ADDRESS.com`. Thank you. Is there anything I need to do to apply for the W&B local license? My email address is `jiarunliu@foxmail.com`.

[2022-10-26 17:39] wztdream commented on #89
@vanpelt
Thank you for you detail explain:)

I follow bellow steps:

[code]
and removed the old volume

[code]
Then:
[code]
localhost:8080 lead me to a sign up page, after sign up again(using same email and username as my old account), I can log in but there is **You need a license for this instance of W&B Local**
![image](https://user-images.githubusercontent.com/39213018/198094605-41056acc-9423-

[2022-10-26 18:15] wztdream commented on #89
Update, after restart the computer I can see my previous license from Depolyer, So now the problem solved. Thank you all:)

[2022-10-31 12:32] thanos-wandb commented on #92
Hi @JiarunLiu I have sent you the W&B local license in the provided email. Can you please confirm that you've received this and you can access now your private host again?

[2022-11-01 03:32] JiarunLiu commented on #92
Hi, I have received the license. Thank you. But I have the following issue when I update my license.
<img width="1016" alt="image" src="https://user-images.githubusercontent.com/42335666/199042946-cf6b3f62-9149-4e4b-9c2b-ace84f41f175.png">

[2022-11-01 04:55] vanpelt commented on #92
If you refresh the page do you see that the license is still configured?  This error often happens if the HOST environment variable isn't set and you're accessing the instance from a host other than http://localhost:8080

[2022-11-01 05:16] JiarunLiu commented on #92
Yes, you are right. That might because I'm access it form another machine in local network. The license can be updated at http://localhost:8080. Thank you guys.

[2022-11-01 21:03] #13 closed

[2022-11-02 11:14] thanos-wandb commented on #92
Thanks @JiarunLiu for the update, glad this is resolved for you. I am closing this ticket now, but please let us know if you still experience any issue with this.

[2022-11-02 11:16] #92 closed

[2022-11-02 20:36] MBakirWB commented on #93
Hi @erhlloyd, happy to help and we appreciate you writing in with your question. As per our email response from earlier today, here's a [SQL procedure](https://gist.github.com/vanpelt/0c13c556fa82cabdecb70d5ef90a4ea9) that will delete the metrics and logs from the sql database for any runs that have been deleted in the UI.  We're planning to integrate this logic into our application soon, but this

[2022-11-03 09:14] llan-ml commented on #86
Hi @vanpelt , I'm running docker in WSL2, and the issue still persists.

[2022-11-03 09:18] llan-ml commented on #86
@vanpelt The `/var/log/mysql.log` is as follows:
[code]

[2022-11-03 18:02] vanpelt commented on #86
@llan-ml it looks like WSL2 doesn't play nicely with our internal mysql.  You can run mysql directly on your machine or in a separate container.  Instructions here: https://docs.wandb.ai/guides/self-hosted/setup/on-premise-baremetal#mysql-database

[2022-11-04 05:31] ramit-wandb commented on #73
Hi! Just wanted to provide an update here - our engineering team looked into this issue and has pushed a fix which should be sent out with our next version of W&B Local. Please let us know if it does not operate as expected!

I'm closing this issue for now but feel free to reopen this thread if this issue is still a problem after the next release.

[2022-11-04 12:12] erhlloyd commented on #93
hi @MBakirWB - this is great, thank you so much! We're testing it now and will let you know how it goes if there are any problems. Very excited to hear that this will be integrated in W&B soon.

[2022-11-05 08:36] wztdream opened #96 "Is it possible to tell wandb show my images as soon as possible?"
Hi,
I understand that wandb will not immediately sync and show the logged images(or other media data) for efficiency concern.

But there are situations that we did not concern the efficiency, we only want to see the logged images as soon as possible, for example, when you are debugging the model and what to see the logged images as soon as possible, maybe you will stop the run when see the images

[2022-11-07 01:32] vanpelt commented on #96
How long of a delay are you seeing?  It generally shouldn't take longer than 30 seconds for any logged images to appear.

[2022-11-08 11:03] wztdream commented on #96
It usually takes about 30 seconds or so, like you said, and some times(not very often) takes much longer may be a few minutes, especially when I kill the run too often.

For normal run 30 seconds is not a problem, what I suggest is mainly for debug purpose, in that case we may need to run a lot of very short runs, and 30 seconds is a little a annoy :) Any way, it seems to have this customization i

[2022-11-11 13:17] chongaxiaopenzai opened #97 "panic: dial tcp 127.0.0.1:3306 and"
In my 8080:/home,i have the question.

Loading your local environment...
Loading is taking longer than expected. Check stdout, or the system logs at /var/log for error messages. You can restart your server with the environment variable LOCAL_RESTORE=true to regain access if you're unable to login.

[2022-11-11 13:17] chongaxiaopenzai commented on #97
when i run docker logs wandb-local

Bucket created successfully `local/local-files`.
Successfully added arn:minio:sqs:wandb-local:_:redis
*** Migrating database...
panic: dial tcp 127.0.0.1:3306: connect: connection refused

goroutine 1 [running]:
github.com/wandb/core/services/gorilla/cmd.(*migrateCommander).MainCmd(0xc000efa950, {0xc000f3a220, 0x2, 0x2})
	/mnt/ramdisk/core/services/gorilla/cmd/m

[2022-11-11 13:19] chongaxiaopenzai commented on #97
so i run the docker exec -it wandb-local cat /var/log/mysql.log
it tell me mysql has died.
information that should help you find out what is causing the crash.
2022-11-11T13:18:18.427852Z 0 [Warning] TIMESTAMP with implicit DEFAULT value is deprecated. Please use --explicit_defaults_for_timestamp server option (see documentation for more details).
2022-11-11T13:18:18.431415Z 0 [Note] mysqld (mysql

[2022-11-12 07:17] chongaxiaopenzai commented on #97
ok, when i use the https://docs.wandb.ai/guides/self-hosted/setup/on-premise-baremetal#mysql-database
it show:
!! Invalid MySQL database settings -- the instance cannot start. Please change the settings with envrionment variables, or start the container with the LOCAL_RESTORE environment variable set to "true".
!!! Errors are:
!!! - dial tcp 127.0.0.1:3306: connect: connection refused
!!! Failed t

[2022-11-12 10:03] chongaxiaopenzai commented on #97
Well, I've solved the problem.
I tried to use wandb local on my Windows computer, and it worked successfully.
So I guess it's the Docker version.
So I uninstalled Docker on my Ubuntu computer
Downloaded the latest version of Docker.

[2022-11-14 10:20] luisbergua commented on #94
Thanks for your answer @Jeffrey28, would you mind explaining me what kind of problems has the data and so I can try to help you or have you reset the database and it has solved these problems?

[2022-11-14 10:32] luisbergua commented on #94
Great to hear it @Jeffrey28! I'll then close this issue as it seems to be solved. Thanks!

[2022-11-22 08:13] GFiz commented on #86
@vanpelt : Still getting the "panic: dial tcp 127.0.0.1:3306: connect: connection refused".

[2022-11-22 12:00] luisbergua commented on #96
Hi @wztdream! Could adding `os.system('wandb sync')` to your code be useful?

[2022-11-22 22:33] vanpelt commented on #86
@GFiz you'll need to run mysql outside of the container and specify it's connection string with the MYSQL environment variable.

[2022-11-23 04:41] wztdream commented on #96
Thank you, do I need to add this line for each wandb.log or just add it at the top of my code?

[2022-11-23 10:25] luisbergua commented on #96
If you'd like to synchronize just after each training epoch, you should add it for every `wandb.log()`

[2022-11-28 13:14] GFiz commented on #86
@vanpelt Thank you very much; could you give me step by step instructions?

[2022-11-28 19:51] graelo opened #98 "Upgrade from 0.23.0 to 0.24.0 "found backend type fs, expected xl or xl-single""
Hi, I'm using Docker and trying to upgrade from `0.23.0` to `0.24.0`, but minio does not start and encourages me to migrate its configuration.

[code]

Regarding the warning, indeed, `MINIO_ACCESS_KEY` and `MINIO_SECRET_KEY` are still used in `/vol/env/minio_creds.env` and `/vol/env/overrides.env`. I guess this is related to the recent change in minio (I use it for other stuff), but I could not se

[2022-11-28 22:26] MBakirWB commented on #98
Hi @graelo , thank you for writing in and reporting this. We will review and get back to you this week with an update.

[2022-11-28 22:27] graelo commented on #98
Thanks @MBakirWB!

[2022-11-28 22:59] yogeshg commented on #98
I was able to use 0.24.1 in my machine, and while minio complains about this, it's not an error, but just a warning. After execing into docker image, I ran  `cat /var/log/minio.log` and saw the following:
[code]

I suspect the following might be more relevant:
[code]

As next steps, could you please:
1. update to `0.24.1` (un-related, but good to be on same page)
2. provide the minio log, by doing

[2022-11-29 01:18] yogeshg commented on #98
Could you please also include a screenshot where a few wandb_artifacts are fully open?
https://github.com/wandb/local/issues/98

I'm wondering if you're you using `filesystem` mode on your minio...

[2022-11-29 19:58] graelo commented on #98
Hi, thanks a lot @yogeshg

I upgraded to `0.24.1`, here is my `/var/log/minio.log`:

<details>

[code]

</details>

Here is my `env | sort`:

<details>

[code]

</details>

Here is the content of my `minio`:
(you will notice I don't have a `pool.bin` folder)

<details>

[code]

</details>

Here is the content of `minio/.minio.sys/buckets`, I provide because I'm noticed that it contains nested `.mi

[2022-11-29 21:14] vanpelt commented on #86
@GFiz most of our customers run this in a cloud that provides a managed MySQL instance.  We have terraform and instructions for deploying into clouds here: https://docs.wandb.ai/guides/self-hosted

If you can't run this in a cloud, you can find instructions for setting things up in a bare metal environment here: https://docs.wandb.ai/guides/self-hosted/setup/on-premise-baremetal#mysql-database Ide

[2022-11-29 21:44] yogeshg commented on #98
@graelo could you please try release 0.25.0 ?
https://github.com/wandb/local/releases/tag/0.25.0
If that doesn't work for you, I'll need to look at the full contents of the bucket, perhaps using the `find` command, if privacy is an issue, you could send it to support@ for wandb, and mention the issue number in subject, sth like "Support for https://github.com/wandb/local/issues/98".
I was able to

[2022-11-29 21:49] graelo commented on #98
@yogeshg and yes it worked flawlessly!

[2022-11-29 21:50] MBakirWB commented on #98
Hi @graelo, we are happy to hear that the released fix resolved your issue. Thanks again for flagging this for our team to review. Please do reach out again anytime we could be of help.

[2022-11-29 21:50] graelo commented on #98
I guess I can now close the issue.

[2022-11-29 21:59] yogeshg commented on #98
This affects users who've first adopted historical versions, like 0.11.0 and upgraded to [0.24.0](https://github.com/wandb/local/releases/tag/0.24.0) and [0.24.1](https://hub.docker.com/layers/wandb/local/0.24.1/images/sha256-75f4888fd9d96aa38e849580672a824fac4db1a10e35a4e996c54944178e723d?context=explore). It has been fixed in [0.25.0](https://github.com/wandb/local/releases/tag/0.25.0).

[2022-11-29 23:37] #98 closed